<div class="loading-component" *ngIf="load"><i class="fa fa-circle-o-notch fa-spin fa-5x"></i></div>
<div *ngIf="!news" id="reader" class="nc-invisible nc-center">
  Empty news
</div>
<div *ngIf="news" id="reader" class="nc-invisible nc-center">
  <div class="header-reader">
    <img *ngIf="news.source.logo" class="nc-left" src="{{domain}}{{news.source.logo}}" title="{{source.name}}" alt="Logo {{news.source.name}}" height="47" width="47"/>
    <img *ngIf="!news.source.logo" class="nc-left" src="{{domain}}images/icons/Newscrush-empty-home.png" title="{{news.source.name}}" alt="Logo {{news.source.name}}" height="47" width="47"/>

    <img class="nc-avatar big nc-clickable nc-right" src="{{domain}}{{news.author.avatar}}" title="{{news.author.username}}" alt="{{news.author.username}}"/>

    <div class="reader-news-title">View article on:
      <a href="{{news.url}}" target="_blank" id="mixpanel-readersource"><b>{{news.source.name}}</b></a>, {{created_at | amDateFormat:'LL'}}
    </div>

    <div class="nc-clearfix"></div>
  </div>

  <div class="content-reader">
    <form class="nc-favorite" onsubmit="return false;">
      <button id="favorite_news">
        <i *ngIf="newsIsFavorite(news._id)" class="fa fa-heart nc-color huge"></i>
        <i *ngIf="!newsIsFavorite(news._id)" class="fa fa-heart-o huge"></i>
      </button>
      <div class="nc-clearfix"></div>
    </form>

    <div class="new-task rate-news">
      <form class="nc-rating" onsubmit="return false;">
        <button class="rate-star fa fa-star-o" value="5"></button>
        <button class="rate-star fa fa-star-o" value="4"></button>
        <button class="rate-star fa fa-star-o" value="3"></button>
        <button class="rate-star fa fa-star-o" value="2"></button>
        <button class="rate-star fa fa-star-o" value="1"></button>
      </form>
      <div class="nc-clearfix"></div>

      <span *ngIf="checkedNews(currentUser.id, news.id)" id="updated_news" class="nc-color">
        <i class="fa fa-check small"></i><small>rate updated!</small>
      </span>
    </div>

    <!-- {{#if (session 'prev_news_id') }} -->
      <i id="previous_news" class="previous-news fa fa-arrow-circle-o-left arrow"></i>
    <!-- {{/if}} -->
    <!-- {{#if (session 'next_news_id')}} -->
      <i id="next_news" class="next-news fa fa-arrow-circle-o-right arrow"></i>
    <!-- {{/if}} -->
    <div class="news-reader">

      <h3>{{news.title}}</h3>

      <span class="nc-left">
        <!-- {{> profile_social}} -->
      </span>
      <span class="profile-news nc-right">
      <small>{{created_at | amTimeAgo}} by
        <span class="nc-author">{{news.author.firstname}} {{news.author.lastname}}</span>
      </small>
    </span>

    <div class="nc-clearfix"></div>

    <span *ngIf="news.media.html" class="text-news">

      <p>{{media.html}}</p>

      <span *ngIf="news.original_text" [innerHTML]="news.original_text"></span>
    </span>
  </div>


  <div id="comments_part" class="nc-clearfix">
    <hr/>
  </div>

    <div class="comments-reader">

      <div class="viewer-reader nc-left">

        <div><i class="fa fa-eye small"></i> {{news.views.length}} views</div>

        <img *ngFor="let view of news.views" class="nc-avatar small nc-left nc-clickable" src="{{view.avatar}}" title="{{view.firstname}} {{view.lastname}}" alt="{{view.firstname}} {{view.lastname}}"/>

        <div class="nc-clearfix"></div>
      </div>


      <div class="commenter-reader nc-right">
        <div><i class="fa fa-comment-o small"></i> {{news.comments_count}} comments</div>

        <img *ngFor="let comment of news.comments" class="nc-avatar small nc-left nc-clickable" src="{{comment.avatar}}" title="{{comment.firstname}} {{comment.lastname}}" alt="{{comment.firstname}} {{comment.lastname}}"/>
        <div class="nc-clearfix"></div>
      </div>

      <div class="nc-clearfix"></div>
      <!-- 'comments' not 'views' -->
      <div *ngFor="let comment of news.views">
        <div class="nc-clearfix"></div>
        <div class="old-comment">

          <!-- {{#if (eq (session 'remove_comment') this._id)}} -->
            <form class="remove_comment" onsubmit="return false;">
              <div>Are you sure to delete your comment?</div>
              <button id="no_remove_comment" type="submit" class="nc-btn-second">No</button>
              <button id="remove_comment" type="submit" class="nc-btn-primary">Yes</button>
            </form>
          <!-- {{/if}} -->

          <div id="comment_{{comment.id}}">

            <img class="nc-avatar small nc-left nc-clickable" src="{{domain}}{{comment.author.avatar}}" title="{{comment.author.username}}" alt="{{comment.author.username}}"/>

            <div class="area-comment">

              <i *ngIf="comment.author.id == currentUser.id" id="hide_form_old_comment_{{this._id}}" class="fa fa-times small nc-right nc-clickable nc-invisible nc-close-comment"></i>

              <span id="old_comment_{{this._id}}">{{nl2br(content)}}</span>
              <br/>
              <!-- {{#if edit_del this._id}} -->
                <i id="delete_comment_{{comment.id}}" class="fa fa-times small nc-right nc-clickable nc-horizontal-space nc-delete-comment"></i>
                <i id="edit_comment_{{comment.id}}" class="fa fa-pencil small nc-right nc-clickable nc-horizontal-space nc-open-comment"></i>

                <form onsubmit="return false;" class="nc-invisible update-comment"
                      id="form_old_comment_{{comment.id}}">
                  <textarea class="area-text" name="comment">{{comment.content}}</textarea>
                  <button class="nc-btn-primary nc-right" id="btn_comment_{{comment.id}}" value="{{comment._id}}">
                    Comment
                  </button>
                </form>
              <!-- {{/if}} -->

              <small>{{created_at | amTimeAgo}}
                <span class="nc-author">{{comment.author.firstname}} {{comment.author.lastname}}</span>
              </small>
              <div class="nc-clearfix"></div>
            </div>

          </div>

        </div>
      </div>

      <div id="actual-comment">
        <div id="area-reply" class="nc-invisible">
          <img class="nc-avatar small nc-left nc-clickable" src="{{currentUser.avatar}}" title="{{currentUser.firstname}} {{currentUser.lastname}}" alt="{{currentUser.firstname}} {{currentUser.lastname}}"/>

          <div class="area-comment">
            <i class="fa fa-times small nc-right nc-clickable nc-close-reply"></i>
            <form onsubmit="return false;">
              <textarea class="area-text" name="new_comment"></textarea>
              <button class="nc-btn-primary nc-right" id="add_comment">Comment</button>
            </form>
            <div class="nc-clearfix"></div>
          </div>
        </div>
      </div>

      <a *ngIf="news.comments_count" id="reply" class="nc-left" href="#"><i class="fa fa-share small"></i>Reply</a>
      <a *ngIf="!news.comments_count" id="reply" class="nc-left" href="#"><i class="fa fa-share small"></i>Comment</a>

    </div>
  </div>
</div>
