div.nc-logo {
    margin: 8px 0 0 20px;
}

div.nc-background {
  background-color: $backgroundColor;

  div.nc-bg-login {
    background-color: #f1f1f1;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    div.nc-login-box {
      background-color: $white;
      padding: 30px;
      margin: auto;
      max-width: 427px;
      margin-top: 50px;
      position: relative;

      .nc-go-back {
        position: absolute;
        left: 30px;
        top: 50px;
        font-size: 20px;
        color: $backgroundColor;
        cursor: pointer;
      }

      h1 {
        color: #51a6d1;
        font-size: 36px;
      }

      h3 {
        color: #51a6d1;
        font-size: 30px;
        margin-bottom: 0px;
      }

      .nc-tuto-label {
        color: #2b3133;
        font-size: 24px;
      }

      .nc-btn-primary {
        width: 290px;
        margin-top: 10px;
        font-size: 27px;
      }

      .nc-google-connect {
        .nc-left {
          border-right: 1px solid;
          padding-right: 10px;
        }
      }

      .nc-login-field {
        width: 290px;
        font-size: 18px;
      }

      .forget-password {
        cursor: pointer;
        margin-top: 20px;

        a {
          color: black;
          text-decoration: none;
        }
      }

      input[type="file"] {
        display: none;
      }

      .input-append {
        position: relative;

        &.nc-login-field {
          padding: 8px;
        }

        a {
          background-color: $backgroundColor;
          position: absolute;
          top: 13px;
          right: 41px;
          color: $white;
          border-radius: 0;
        }
      }

      #skip_step {
        text-align: center;
        margin: 20px 0 0;

        &.i {
          color: $lightGrey;
        }
      }
    }

    /**
     * For the popup when we create the user
     */
    #create {
      background: $white;
      width: 520px;
      height: 200px;
      position: fixed;
      z-index: 110;
      margin-left: auto;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;

      h1 {
        color: $backgroundColor;
      }

      p {
        font-size: 20px;
      }

      button {
        @extend .nc-btn-post;
        background-color: $backgroundColor;
        padding: 10px 40px;
        font-size: 20px;
        margin-top: 10px;

        &:hover {
          box-shadow: inset 0px -3px 3px 0px #116693;
        }

        &.nc-not-good:hover {
          box-shadow: none;
        }

        &:active {
          background-image: none;
          outline: 0;
          -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
          -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
          box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
        }
      }
    }
    .alert.alert-danger {
      width: 290px;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}