header.top-site {
  height: 49px;
  position: fixed;
  top: 0;
  margin-top: 0px;
  left: 21px;
  right: 21px;
  z-index: 1;

  div.nc-logo-main-page {
    width: 218px;
    text-align: center;
    line-height: 49px;
    float: left;
  }

  .nc-profile-user {
    float: right;
    position: relative;
    top: 11px;

    .nc-progress {
        position: relative;
        top: 2px;

      .nc-progressbar {
        border: 1px solid white;
        position: absolute;
        right: 120px;
        width: 362px;
        height: 20px;
        text-align: center;
        border-radius: 2px;

        /* for the width of the progressbar */
        div {
          background: white;
          height: 18px;
        }

        span {
          position: absolute;
          top: 2px;

          &.less-than-50 {
            color: $white;
          }

          &.plus-than-50 {
            color: $backgroundColor;
          }
        }
      }

      .nc-level-background {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 85px;
        background: $white;
        transform: rotate(45deg);
      }

      .nc-level {
        position: absolute;
        right: 85px;
        color: $backgroundColor;
        top: 2px;
        text-align: center;
        height: 20px;
        width: 20px;
      }
    }

    .nc-separate-gamification {
      border-left: 1px solid #75b9da;
      height: 25px;
      float: left;
      position: absolute;
      right: 75px;
    }

    .profile {
      position: relative;
      right: 6px;

      a {
        color: $white;
        text-decoration: none;

        i {
          margin: 0 2px;
          cursor: pointer;
          vertical-align: middle;
          vertical-align: -webkit-baseline-middle;
          vertical-align: -moz-baseline-middle;
          vertical-align: -o-baseline-middle;
          vertical-align: -ms-baseline-middle;
        }
      }
    }
    .arrow_box {
      position: absolute;
      right: 30px;

      &.notification {
        right: 75px;
      }

      &:after, &before {
        left: 60%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $white;
        border-width: 10px;
      }
      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #c2e1f5;
        border-width: 36px;
        margin-left: -36px;
      }
    }
    .popup_profile, .popup_notifications {
      background: $white;
      position: absolute;
      z-index: 71;
      border: 1px solid $shadowColor;
      border-radius: 5px;
      padding: 10px;
      min-width: 150px;
      right: 0px;
      top: 38px;
      box-shadow: -2px 2px 4px $shadowColor;

      #content_profile, #notif_popup {

        span.optiongrp.nc-left {
          margin-right: 5px;
        }

        div.nc-left {
          margin-right: 5px;
        }

        span.created-date {
          color: #d0d0d0;
          font-size: 11.6px;
        }

        hr {
          top: 7px !important;
          position: relative !important;
          margin-top: 10px !important;
          margin-bottom: 10px !important;
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0px;
        color: black;

        a {
          text-decoration: none;
          color: black;
        }

        li.profile-list {
          padding: 2px 10px;
          border-radius: 3px;

          &:hover {
            color: $white;
          }

          &:hover {
            background: $backgroundColor;
          }
        }
      }
    }
  }
}

#panel {
  float: left;
  width: $panelSize;
  background-color: $lightGrey;
  padding: 5px;
  box-shadow: 2px 0px 0px $shadowColor;
  position: fixed;
  z-index: 1;
  height: 100vh;
  left: 21px;
  top: 49px;

  #panel_activities {
    background-color: $white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 0px $shadowColor;
    word-wrap: break-word;
    width: 185px;
    /* min-height: 250px; */
    height: 340px;
    overflow-y: scroll;

    h3 {
      text-align: center;
      color: #404749;
      font-size: 22px;
      margin-top: 0;

      span {
        margin-right: 5px;
      }
    }

    span {
      a {
        color: #6d6d6d;
      }
    }
  }

  #panel_tags, #panel_teammates {
    margin: 0 10px;
    padding: 5px 10px;
    min-height: 150px;

    h3 {
      color: $backgroundColor;
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    more {
      color: #52a7d1;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

main#main_part {
  background-color: $lightGrey;
  overflow-x: hidden;
  position: fixed;
  height: 100vh;
  left: 240px;
  right: 21px;
  z-index: 0;
  top: 49px;

  #drag_n_drop {

    .embed-url-container {
      background-color: transparent;
      position: relative;
      z-index: 1;
      color: #6d6d6d;
    }

    input#embed_url {
      border: 0;
      height: 50px;
      text-align: center;
      width: 100%;
      z-index: 70;
      padding: 0 10px;
      font-family: museo_slab500, Helvetica, sans-serif;
      background: transparent;
    }

    #embed_url_placeholder, #embed_url_comments_only{
      position: absolute;
      top: 0;
      text-align: center;
      z-index: -1;
      font-family: museo_slab500, Helvetica, sans-serif;
      color: #989898;
      width: 100%;
      background: white;
      padding: 13px;
      height: 50px;

      img {
        position: relative;
        top: 0px;
        height: 25px;
        margin-right: 5px;
      }

      span {
        color: $backgroundColor;
      }
    }

    /* When the mode comments only is on, put the padding to the good heigh for the writes */
    #embed_url_comments_only {
      padding: 17px !important;
      background: #DFDFDF;
    }

    #btn_close_dragdrop {
      border: none;
      background-color: $white;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 71;
      font-size: 17px;
      line-height: 30px;
    }

    #loading_create_news {
      color: $white;
      text-align: center;
      margin-top: 10px;
    }

    /** new news **/
    #form_news_create {
      #sub_form_news_create {
        padding: 15px;
        border-bottom: 6px solid $mainBgColor;

        .new-news-images {
          float: left;
          width: 20%;
        }

        .new-news-text {
          float: right;
          width: 80%;

          h3 {
            margin-top: 0px;
            color: $titleNewsColor;
          }

          #embed_description {
            margin: 10px 0;
            width: 100%;
            padding: 4px 6px;
            @extend .nc-text-post;
            outline:none;
          }

          #sub_form_hl, #embed_content {
            margin-top: 25px;
            width: 500px;
            img {
              max-width: 500px;
            }
            button {
              margin: 0px 3px 0px 3px;
            }
          }
        }
      }
    }
  }

  /** search part **/
  #dashboard {
    padding: 40px 0px 25px 0px;
    color: $shadowColor;
    overflow-x: hidden;
    margin: 0 20px;

    /** search part... **/
    .header-dashboard {
      padding: 0 0 20px 0;
      position: relative;

      #top_panel_filter {
        position: relative;

        /*For the sort of the news*/
        .filters {
          width: 25%;
          float: left;

          buttton, #export_news {
            background-color: #ffffff;
            border: medium none;
            color: #7e8284;
            padding: 8px 14px 6px 14px;
            margin: 0px -2px;
          }
          &.active {
            color: white;
            background-color: $title;
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
            box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
            color: white;
          }
          &:hover {
            color: white;
            background-color: $title;
            box-shadow: inset 0px -3px 3px 0px #116693;
          }
          &:active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
            box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
          }
        }

        /* Filter for week and team */
        div.btn-group {
          border: none;
          padding: 0;
          margin: 0;
          color: #ffffff;
        }

        a.dropdown-toggle{
          color: #7e8284;
          background-color: white;
          min-width: 120px;
          text-align: left;
          border: none;
        }

        #filter_date_range, #filter_teams {
          * {
            border-radius: 0px;
          }

          a.btn {
            padding: 7px 12px !important;
          }

          a.dropdown-toggle {
            color: $colorNewsfeed;
            background-color: #ffffff;
            min-width: 120px;
            text-align: left;
            border: none;

            &:active {
              background-image: none;
              outline: 0;
              -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
              -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
              box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
            }

            &:hover, &:focus {
              border-color: inherit;
              box-shadow: inset 0px -3px 3px 0px $shadowColor;
            }

            .caret {
              vertical-align: middle;
              margin: 4px 0px 4px 10px;
            }
          }
        }

        #btn_goto_search {
          float: right;
          width: 220px;
          padding: 7px 20px 7px 20px;
          text-align: left;
          background-color: white;
          border-top: 1px solid;
          border-bottom: none;
          border-right: none;
          height: 39px;
          i {
            float: right;
            font-size: 16px;
          }
        }

        .filter-export, .edit_team {
          width: auto;
          float: right;
          position: absolute;
          right: 20%;
          top: 10%;
        }

        .edit_team {
          right: 24%;
        }
      }

      #top_panel_search {
        right: -760px;
        text-align: center;
        position: absolute;
        top: -2px;
        min-width: 940px;

        * {
          border-radius: 0 !important;
        }

        div.btn-group {
          background-color: $searchBackColor;
          border: none;
          border-top: 1px solid $searchBackColorMenu;

          /* Search text */
          #search_text {
            border: none;
            margin-top: 7px;
            color: $colorNewsfeed;
            outline: none;
          }
          .fa-search {
            color: $arrowNewsColor;
            margin-left: 10px;
            margin-right: 7px;
            position: relative;
          }

          /* Action dropdown */
          div.btn-group {
            a.dropdown-toggle {
              color: $bodyColor;
              background-color: $searchBackColor;
              width: 120px;
              text-align: left;
              margin-top: 6px;
              margin-bottom: 3px;
              box-shadow: none;
              &:hover, &:focus {
                box-shadow: none;
                border-color: inherit;
              }
              .nc-remove {
                margin-left: 6px;
                font-size: 14px;
              }
              .caret {
                vertical-align: middle;
                margin: 4px 0px 4px 10px;
              }
            }
            &.open {
              .dropdown-menu {
                margin-top: 32px;
              }
            }
          }
          #btn_back {
            margin: 1px 5px 0px 5px;
            background-color: $searchBackColor;
            border: none;
            color: $titleNewsColor;
            font-size: 22px;
            width: 28px;
          }
          #btn_search {
            text-align: center;
            width: 120px;
            padding: 6px 20px 6px 20px;
            color: white;
            font-weight: bold;
            background-color: $backgroundColor;
            border: none;
            height: 38px;

            &.on {
              background-color: $backgroundColor;
            }

            &:hover {
              box-shadow: inset 0px -3px 3px 0px #116693;
            }

            &.nc-not-good:hover {
              box-shadow: none;
            }

            &:active {
              background-image: none;
              outline: 0;
              -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
              -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
              box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
            }

          }
        }
      }
    }

    #news {
      margin-bottom: 40px;
    }
  }
}