#news {

  /** news part **/
  .news-part-blur {
    width: 100%;
    margin-bottom: 20px;
    background-color: $white;
    padding: 15px;
    @extend .nc-appearance;
    position: relative;
    @extend .nc-opacity;
    z-index: 100;
  }

  .news-part {
    margin-bottom: 20px;
    background-color: $white;
    padding: 15px;
    @extend .nc-appearance;
    position: relative;

    .left-part {
      float: left;
    }

    .header-news {
      margin-bottom: 10px;
    }

    /** comment viewer part **/
    .right-part {
      position: relative;
      float: right;
      width: 170px;

      .rate-star {
        margin: 0px 2px;
      }

      div.comment_view {
        margin: 10px 0;

        span.left {
          margin-right: 5px;
        }

        .user-details {
          position: relative;
          display: inline;
        }

        .nc-avatar-level {
          visibility: hidden;
          position: absolute;
          height: 21px;
          width: 21px;
          border-radius: 50%;
          right: 2px;
          top: -1px;
          z-index: 10;

          .overlay {
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: #f7f7f7;
            opacity: 0.5;
            border-radius: 50%;
            margin-left: 3.3px;
            margin-top: 3.4px;
            text-align: center;
            line-height: 11px;
            font-size: 11px;
            color: #52a7d0;
            border: 3px solid #ededed;
          }

        }

        img.nc-avatar:hover + .nc-avatar-level{
          visibility: visible;
        }

        .nc-avatar-level:hover {
          visibility: visible;
        }
      }
    }

    .vertical-line {
      float: right;
      border-left: 1px solid;
      height: 100px;
      margin: 0 10px;
    }

    .content-part {
      margin-left: 70px;
      margin-right: 190px;

      p {
        text-align: justify;
        color: #989898;
      }
      .profile-news {
        float: right;
        text-align: right;
        small {
          display: block;
          font-size: 75%;
        }
      }
    }

    .nc-recently-notif {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 0;
      height: 0;
      border-bottom: 50px solid orange;
      border-right: 50px solid transparent;

      i {
        color: white;
        position: absolute;
        top: 27px;
        left: 9px;
      }
    }
  }

}