#parent_reader{
  position: fixed;
  z-index: 110;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1000px;
  position: fixed;
  background-color: $white;

  #hide_reader {
    position: fixed;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: white;
    padding: 10px;
    margin-left: -40px;
  }

  #reader-content, #tuto-content, #hl-form {
  /*  position: fixed;
    z-index: 110;
    top: 0;
    bottom: 0;
    right: 0;*/
    overflow-x: hidden;
    /*overflow-y: auto;*/
    background-color: $white;

    h1, h2, h3, h4, h5, h6 {
      font-family: $pageFontTitle;
      font-size: $titleSize;
    }

    .nc-hl-buttons {
        position: fixed;
        bottom: 40px;
        right: 120px;
        z-index: 1;

        li {
          list-style-type: none;
          margin-top: 5px;
        }
        button {
          width: 34px;
        }
      }

    #reader, #reader_tuto, #hl  {
      background-color: $white;
      width: 1000px;
      padding-bottom: 30px;
      position: relative;

      div.header-reader {
        background-color: $lightGrey;
        padding: 5px;

        div.reader-news-title {
          margin-top: 15px;
        }
      }

      div.content-reader {
        width: 635px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;

        button {
          i {
            margin: 0px 3px 0px 3px;
          }
          //width: 18px;
        }


        i.next-news {
          @include nc-center(100px, -110px, none, none);
          cursor: pointer;
          transition: color 0.3s;
          -webkit-transition: color 0.3s;
          -moz-transition: color 0.3s;
          &:hover {
            color: #6d6d6d;
          }
        }

        i.previous-news {
          @include nc-center(100px, none, none, -110px);
          cursor: pointer;
          transition: color 0.3s;
          -webkit-transition: color 0.3s;
          -moz-transition: color 0.3s;
          &:hover {
            color: #6d6d6d;
          }
        }

        .text-news {
          text-align: justify;
          margin-bottom: 50px;
          outline: none;

          iframe {
            display: block;
            margin: 0 auto;
            width: 635px;
            height: 335px;
          }

          img {
            display: block;
            margin: 10px auto;
          }
          &:focus, p, p:focus {
            outline: none;
          }
        }

        .viewer-reader, .commenter-reader {
          text-align: left;
          width: 50%;
          margin-bottom: 20px;
        }
      }
      .nc-hl-buttons {
        position: fixed;
        bottom: 40px;
        right: 120px;

        li {
          list-style-type: none;
          margin-top: 5px;
        }
        button {
          width: 34px;
        }
      }
    }
    #reader, #hl  {
      img {
        max-width: 500px;
      }
    }
  }
}