<h1 i18n> Login or register </h1>
<div class="nc-tuto-label" i18n> Choose your way </div>
<button id="to_login" class="nc-btn-primary" [routerLink]="['/login']" type="submit" i18n> Login </button>
<button id="to_rgister" class="nc-btn-primary" [routerLink]="['/register_username']" type="submit" i18n> Register </button>
<button id="to_google_connect" class="nc-google-connect" type="submit" i18n>
  <div class="nc-left"><i class="fa fa-google-plus big"></i></div>
  Sign in with Google
</button>