<a class="nc-go-back" [routerLink]="['/login_or_register']"><i class="fa fa-arrow-left"></i></a>
<h3 i18n> Login </h3>
<form #f="ngForm" (ngSubmit)="login(f)" novalidate>
  <input id="email" class="nc-login-field" ngModel required #email="ngModel" type="email" name="email" placeholder="Your email..." i18n-placeholder>
  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
    <div [hidden]="!email.errors.required">
      Email is required
    </div>
  </div>

  <input id="password" class="nc-login-field" ngModel required #password="ngModel" type="password" name="password" placeholder="Your password..." i18n-placeholder>
  <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
    <div [hidden]="!password.errors.required">
      Password is required
    </div>
  </div>

  <button class="nc-btn-primary" type="submit" i18n> Validate <i class="fa fa-arrow-right"></i> </button>
</form>
<div class="forget-password" id="forget_password"><a href="" i18n>Forget password</a></div>
<div class="forget-password" id="email_verif"><a i18n href="">Send email verification</a></div>