<a class="nc-go-back" [routerLink]="['/register_password']"><i class="fa fa-arrow-left"></i></a>
<h3 i18n> Sign up (3/3) </h3>
<div class="nc-tuto-label" i18n> Update your avatar </div>

<output *ngIf="pictureName" id="picture_user"><img src="{{pathPicture}}" class="thumb" height="150" width="150"></output>

<form #f="ngForm" (ngSubmit)="signUp3(f)" novalidate enctype="multipart/form-data">

  <input type="file" name="pdffile" ngModel #pdffile="ngModel" required (change)="profilePicture($event)" class="nc-invisible" id="pdffile" accept="image/png/jpeg" /><br/>
  <div class="input-append">
    <input type="text" name="subfile" id="subfile" class="nc-login-field" ngModel #subfile="ngModel" required placeholder="Your avatar..." value="{{pictureName}}" i8n-placeholder>
    <a class="btn" (click)="picture()" i8n-n>Browse</a>
  </div>

  <button class="nc-btn-primary" type="submit" i18n> Continue <i class="fa fa-arrow-right"></i> </button>
</form>
<div id="skip_step" class="nc-clickable" (click)="createUser()" i18n>Skip the step <i class="fa fa-arrow-right"></i></div>

<!-- Show spinner waiting for the response of the server side -->
<div *ngIf="isWaiting"><i id="spinner" class="fa fa-circle-o-notch fa-spin"></i></div>

<div id="succed-create">
  <div id="create" class="nc-invisible nc-center">
    <h1 i18n>Congratulation!</h1>
    <p i18n>You are now a Newscrusher</p>
    <div class="nc-clearfix"></div>
    <form #f="ngForm" (ngSubmit)="goToNewscrush()" novalidate>
      <button class="regular-button" type="submit" i18n>
        Access to my post
      </button>
    </form>
  </div>
</div>