<a class="nc-go-back" [routerLink]="['/register_username']"><i class="fa fa-arrow-left"></i></a>
<h3 i18n> Sign up (2/3) </h3>
<div class="nc-tuto-label" i18n> Enter your password </div>
<form #f="ngForm" (ngSubmit)="signUp2(f)" novalidate>
  <input id="password" class="nc-login-field" ngModel required minlength="6" maxlength="24" #password="ngModel" type="password" name="password" placeholder="Your password..." i18n-placeholder>
  <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
    <div [hidden]="!password.errors.required">
      Password is required
    </div>
    <div [hidden]="!password.errors.minlength">
      Password must be at least 6 characters long.
    </div>
    <div [hidden]="!password.errors.maxlength">
      Password cannot be more than 24 characters long.
    </div>
  </div>
  <input id="password_confirmation" class="nc-login-field" ngModel required minlength="6" maxlength="24" #password_confirmation="ngModel" type="password" name="password_confirmation" placeholder="Confirm your password..." (change)="samePassword()" i18n-placeholder>
  <div *ngIf="isSame" class="alert alert-danger">
    <div>
      Password doens't match
    </div>
  </div>

  <button class="nc-btn-primary" type="submit" i18n> Continue <i class="fa fa-arrow-right"></i> </button>
</form>