<a class="nc-go-back" [routerLink]="['/login_or_register']"><i class="fa fa-arrow-left"></i></a>
<h3 i18n> Sign up (1/3) </h3>
<div class="nc-tuto-label" i18n> Enter your username </div>
<form #f="ngForm" (ngSubmit)="signUp1(f)" novalidate>
  <input id="username" class="nc-login-field" ngModel required minlength="4" maxlength="24" #username="ngModel" type="text" name="username" placeholder="Your username..." i18n-placeholder (change)="checkusername()">
  <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
    <div [hidden]="!username.errors.required">
      Username is required
    </div>
    <div [hidden]="!username.errors.minlength">
      Username must be at least 4 characters long.
    </div>
    <div [hidden]="!username.errors.maxlength">
      Username cannot be more than 24 characters long.
    </div>
  </div>

  <input id="firstname" class="nc-login-field" ngModel required minlength="4" maxlength="24" #firstname="ngModel" type="text" name="firstname" placeholder="Your firstname..." i18n-placeholder>
  <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" class="alert alert-danger">
    <div [hidden]="!firstname.errors.required">
      Firstname is required
    </div>
    <div [hidden]="!firstname.errors.minlength">
      Firstname must be at least 4 characters long.
    </div>
    <div [hidden]="!firstname.errors.maxlength">
      Firstname cannot be more than 24 characters long.
    </div>
  </div>

  <input id="lastname" class="nc-login-field" ngModel required minlength="4" maxlength="24" #lastname="ngModel" type="text" name="lastname" placeholder="Your lastname..." i18n-placeholder >
  <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="alert alert-danger">
    <div [hidden]="!lastname.errors.required">
      Lastname is required
    </div>
    <div [hidden]="!lastname.errors.minlength">
      Lastname must be at least 4 characters long.
    </div>
    <div [hidden]="!lastname.errors.maxlength">
      Lastname cannot be more than 24 characters long.
    </div>
  </div>

  <input id="email" class="nc-login-field" ngModel required minlength="4" maxlength="100" #email="ngModel" type="email" name="email" placeholder="Your email..." pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" i18n-placeholder  (change)="checkmail()">
  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
    <div [hidden]="!email.errors.required">
      Email is required
    </div>
    <div [hidden]="!email.errors.minlength">
      Email must be at least 4 characters long.
    </div>
    <div [hidden]="!email.errors.maxlength">
      Email cannot be more than 24 characters long.
    </div>
    <div [hidden]="!email.errors.pattern">
      Email need to be a valid email.
    </div>
  </div>

  <button class="nc-btn-primary" type="submit" i18n> Continue <i class="fa fa-arrow-right"></i> </button>
</form>