<header id="header" class="top-site"></header>
<div id="content">
  <aside id="panel">
    <panel-activities></panel-activities>
    <panel-tags></panel-tags>
    <panel-teammates></panel-teammates>
  </aside>
  <main id="main_part">
    <main-url></main-url>
    <main-dashboard></main-dashboard>
  </main>
</div>

<div id="parent_reader" class="nc-invisible">
  <div id="hide_reader" (click)="removeBlurEffect()" class="nc-invisible"><i class="fa fa-times small"></i></div>

  <div id="reader-content" class="nc-invisible">
    <reader></reader>
  </div>

  <!-- <div id="tuto-content" class="nc-invisible">
    <reader-tuto></reader-tuto>
  </div>

  <div id="hl-form" class="nc-invisible">
    <news-highlight></news-highlight>
  </div> -->
</div>