<div id="drag_n_drop">
  <div id="form_news_create">
    <div class="embed-url-container">
      <input type="text" (focus)="focusField()" (focusout)="focusOutField($event)" (change)="changeValue($event)" (drop)="changeValue($event)" name="url" id="embed_url" value="" ondrop="" autocomplete="off" />

      <div id="embed_url_placeholder">
        <div *ngIf="!focus">
          <img src="/assets/media/icons/enter.png">
          My today news <span>(drag</span> it or <span>paste</span> it here)
        </div>
      </div>

      <input type="hidden" name="news_id" id="news_id" value="" />
      <button *ngIf="reset" id="btn_close_dragdrop" (click)="eraseField()"><i class="fa fa-remove"></i></button>
    </div>

    <div id="loading_create_news" class="nc-invisible"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
    <div id="sub_form_news_create" class="nc-invisible">
      <span class="new-news-images">
        <img src="" name="img" id="embed_img" width="120">
        <img src="" name="source_logo" id="embed_source_logo" width="60" height="60">
      </span>

      <div class="new-news-text">
        <h3 id="render_title"></h3>

        <!-- Description -->
        <input type="text" name="description" id="embed_description" class="" value="" placeholder="Describe it with a short description..."><br>

        <!-- Tags for teams -->
        <tag-input [ngModel]="teamTagList" (onAdd)="onTeamTagAdded($event)" (onRemove)="onTeamTagRemoved($event)" theme='bootstrap3-info' [onlyFromAutocomplete]="true" [displayBy]="'value'" [identifyBy]="'id'" [removable]="true" [maxItems]="4" name="tags_team" id="embed_tags_team" placeholder="@Teams" secondaryPlaceholder="@Teams">
          <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="[{display: 'Item1', value: 0}, 'item2', 'item3']">
          </tag-input-dropdown>
        </tag-input>

        <!-- Tags for tags -->
        <tag-input [ngModel]="tagList" (onAdd)="onTagAdded($event)" (onRemove)="onTagRemoved($event)" theme='bootstrap3-info' [removable]="true" [maxItems]="4" name="tags" id="embed_tags" placeholder="Tags" secondaryPlaceholder="Tags">
          <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="[]">
          </tag-input-dropdown>
        </tag-input>

        <!-- Buttons to confirm -->
        <div id="block_submit">
          <span i18-n>Do you want to highlight your post:</span>

          <input type="submit" class="nc-btn-primary" id="btn_highlight" value="Highlight it!" disabled="disabled">
          <input type="submit" (click)="post()" class="nc-btn-second" id="btn_post" value="No just post it" disabled="disabled">
        </div>
        <button id="btn_post_direct" (click)="post()" class="nc-btn-primary nc-invisible">Post it !</button>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>