<div>
  <div class="loading-component" *ngIf="load"><i class="fa fa-circle-o-notch fa-spin fa-5x"><div></div></i></div>
  <div *ngFor="let n of news" class="news-part nc-clickable" id="news-part_{{n.id}}">
    <div class="confirm_modal nc-invisible" id="confirm_modal_{{n.id}}">
      <div>Remove this news?</div>
      <button id="confirm_cancel" type="submit" class="nc-btn-third">No</button>
      <button id="confirm_ok" type="submit" class="nc-btn-primary">Yes</button>
    </div>
    <div id="news-part-blur_{{n.id}}" class="">
      <div class="left-part">
        <!-- Corriger l'export pour que ça fonctionne -->
        <form *ngIf="export_news" id="export_{{n.id}}" class="export_news" onsubmit="return false;">
          <input id="export_{{n.id}}_checkbox" type="checkbox" name="export" value="{{n.id}}">
          <label for="export_{{n.id}}_checkbox" class="checkbox_custom">
          </label>
        </form>
        <img *ngIf="n.source.logo" src="{{n.source.logo}}" class="nc-logo-news" title="{{n.source.name}}" alt="Logo {{n.source.name}}" height="47" width="47"/>
        <img *ngIf="!n.source.logo" src="/assets/media/icons/Newscrush-empty-home.png" class="nc-logo-news" title="{{n.source.name}}" alt="Logo {{n.source.name}}" height="47" width="47"/>
      </div>
      <div class="right-part">
        <!-- Rate part -->
        <span [innerHTML]="stars(n.avg_rate)"></span>
        <span *ngIf="editDel(currentUser.id)" class="nc-right confirm-btn">
          <!-- data-internalid="{{this._id}}" aprs le class -->
          <a class="edit-news">
            <i class="fa fa-pencil-square-o medium-larg nc-clickable"></i>
          </a>
          <!-- data-internalid="{{this._id}}" aprs le class -->
          <a class="del-news nc-warning">
            <i class="fa fa-times-circle medium-larg nc-clickable"></i>
          </a>
        </span>
        <div class="nc-clearfix"></div>

        <!-- Viewers part -->
        <div class="comment_view">
          <span class="nc-left"><i class="fa fa-eye small"></i> {{n.views.length}}</span>
          <div *ngFor="let viewer of n.views" class="user-details">
            <img class="nc-avatar smaller nc-left nc-clickable" src="{{viewer.avatar}}" title="{{viewer.firstname}} {{viewer.lastname}}" alt="{{viewer.firstname}} {{viewer.lastname}}"/>
            <div class="nc-tooltip-trophies nc-avatar-level progress-{{percentages(viewer)}}">
              <div class="overlay">{{level(viewer)}}</div>
              <span>
                {{viewer.firstname}} {{viewer.lastname}}
                <div class="trophy-medals">
                  <div class="gold nc-left"> <div></div> {{countMedalType('gold', viewer)}} </div>
                  <div class="silver nc-left"> <div></div> {{countMedalType('silver', viewer)}} </div>
                  <div class="bronze nc-left"> <div></div> {{countMedalType('bronze', viewer)}} </div>
                </div>
              </span>
            </div>
          </div>
          <div class="nc-clearfix"></div>
        </div>
        <div class="comment_view">
          <span class="nc-left"><i class="fa fa-comment-o small"></i> {{totalCommentNews(n.id)}}</span>
          <div *ngFor="let comment of n.comments" class="user-details">
            <img class="nc-avatar smaller nc-left nc-clickable" src="{{comment.avatar}}" title="{{comment.firstname}} {{comment.lastname}}" alt="{{comment.firstname}} {{comment.lastname}}"/>
            <div class="nc-tooltip-trophies nc-avatar-level progress-{{percentages(this)}}">
              <div class="overlay">{{level(this)}}</div>
              <span>
                {{comment.firstname}} {{comment.lastname}}
                <div class="trophy-medals">
                  <div class="gold nc-left"> <div></div> {{countMedalType('gold', comment)}} </div>
                  <div class="silver nc-left"> <div></div> {{countMedalType('silver', comment)}} </div>
                  <div class="bronze nc-left"> <div></div> {{countMedalType('bronze', comment)}} </div>
                </div>
              </span>
            </div>
          </div>
          <a *ngIf="n.comments_count > LIMITCOMMENTERS || n.views.length > LIMITVIEWERS" class="view-all link_more nc-right" href="#comments_part">View all...</a>
          <div class="nc-clearfix"></div>
        </div>
      </div>

      <div class="vertical-line"></div>
      <!-- VERIFICATION POUR EN DESSOUS -->
      <div class="content-part">
        <div class="header-news">
          <span class="tags-part">
            <!-- data-internalid="{{tag}}" -->
            <button *ngFor="let tag of tags" class="tag_news" >#{{tag}}</button>

            <!-- data-internalid="{{this._id}}" -->
            <span *ngFor="let team of n.team_ids" >@{{team.name}}</span>
            <span *ngIf="n.team_ids.length">@all</span>

            <i *ngIf="newsIsFavorite(n.id)" class="fa fa-heart nc-color small"></i>
          </span>

          <span class="nc-right">
            <img class="nc-avatar medium nc-right nc-clickable" alt="{{n.author.firstname}} {{n.author.lastname}}" src="{{domain}}{{n.author.avatar}}" title="{{n.author.firstname}} {{n.author.lastname}}"/>
          </span>

          <span class="profile-news">
            <small>
              {{created_at | amTimeAgo}}<br/> by
              <span class="nc-author">{{n.author.firstname}} {{n.author.lastname}}</span>
            </small>
          </span>

        </div>
        <div>
          <h3 *ngIf="n.description" (click)="showReaderNews(n.id)" class="news-title">{{n.description}}</h3>
          <h3 *ngIf="!n.description" (click)="showReaderNews(n.id)" class="news-title">{{n.title}}</h3>
          <span class="news-source">
            <small>
              <b>
                | {{n.source.name}},
                 <span *ngIf="n.published_at"> {{published_at | amDateFormat:'LL'}} </span>
              </b>
            </small>
          </span>
        </div>

        <div class="nc-clearfix-left"></div>

        <p class="text-news">
          <span *ngIf="n.highlighted_text" (click)="showReaderNews(n.id)" class="highlighted">{{n.highlighted_text |  truncate : 200}}</span>
          <span *ngIf="!n.highlighted_text" (click)="showReaderNews(n.id)" [innerHTML]="n.original_text |  truncate : 200"></span>
        </p>
      </div>
      <div class="nc-clearfix"></div>
    </div>
  </div>
</div>

<div class="nc-clearfix"></div>

<!-- No news -->
<div *ngIf="!load && news.length <= 0" class="news-part">
  <div class="left-part">
    <img src="{{domain}}images/icons/Newscrush-empty-home.png" title="New crush" alt="Logo New crush" height="60" width="60"/>
  </div>

  <div class="right-part nc-opacity">
    <span [innerHTML]="stars(3)"></span>
    <div class="comment_view">
      <span class="nc-left"><i class="fa fa-eye small"></i> 1</span>
      <img class="nc-avatar smaller nc-left" src="{{domain}}images/icons/avatars/avatars_3.png"/>
      <div class="nc-clearfix"></div>
    </div>
    <div class="comment_view">
      <span class="nc-left"><i class="fa fa-comment-o small"></i> 4</span>
      <img class="nc-avatar smaller nc-left" src="{{domain}}images/icons/avatars/avatars_2.png"/>
      <img class="nc-avatar smaller nc-left" src="{{domain}}images/icons/avatars/avatars_1.png"/>
      <img class="nc-avatar smaller nc-left" src="{{domain}}images/icons/avatars/avatars_9.png"/>
      <img class="nc-avatar smaller nc-left" src="{{domain}}images/icons/avatars/avatars_8.png"/>
      <div class="nc-clearfix"></div>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="content-part">
    <div class="header-news">
      <span class="tags-part">
        <!-- data-internalid="{{this}}" entre 'class' et 'disabled' -->
        <!-- data-internalid="{{this}}" entre 'class' et 'disabled' -->
        <button class="tag_news"  disabled>#PostACrush</button>
        <button class="tag_news"  disabled>#It is easy</button>
        <i class="fa fa-heart nc-color small"></i>
      </span>

      <span class="nc-right">
        <img class="dd-clic nc-avatar medium nc-right" alt="{{currentUser.firstname}} {{currentUser.lastname}}" src="{{domain}}{{currentUser.avatar}}" title="{{currentUser.firstname}} {{currentUser.lastname}}"/>
      </span>

      <span class="profile-news">
        <small><a href="#">{{me}}</a></small>
      </span>
    </div>

    <h3 class="no-news-title">Post your first crush by dragging or dropping URL form sources</h3>

    <div class="nc-clearfix-left"></div>
    <p class="text-news">
      <span class="highlighted nc-small-font">
        Thanks to our highlighter in the reader you can underline the best content of each articles to crush the news
        <br/>
        Lets do this.
      </span>
    </p>
  </div>
  <div class="nc-clearfix"></div>
</div>

<!--TUTO -->
<div *ngFor="let tuto of tutos" class="news-part" id="tuto_{{tuto.id}}">
  <div class="left-part"  id="news-part-blur_{{tuto.id}}">
    <img src="/assets/media/icons/Newscrush-empty-home.png" title="New crush" alt="Logo New crush" height="60" width="60"/>
  </div>

  <div class="right-part nc-opacity">
    <span [innerHTML]="stars(4)"></span>
    <div class="comment_view">
      <span class="nc-left"><i class="fa fa-eye small"></i> 1</span>
      <img class="nc-avatar smaller nc-left" src="{{domain}}images/icons/avatars/avatars_7.png"/>

      <div class="nc-clearfix"></div>
    </div>
    <div class="comment_view">
      <span class="nc-left"><i class="fa fa-comment-o small"></i> 4</span>
      <img class="nc-avatar smaller nc-left" src="{{domain}}images/icons/avatars/avatars_6.png"/>

      <div class="nc-clearfix"></div>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="content-part">
    <div class="header-news">
      <span class="tags-part">
        <!-- data-internalid="{{this}}" entre 'class' et 'disabled' -->
        <button class="tag_news"  disabled>#help</button>
      </span>

      <span class="nc-right">
        <img class="dd-clic nc-avatar medium nc-right" alt="" src="{{domain}}images/SaraMaty.jpg" title=""/>
      </span>

      <span class="profile-news">
        <small><a href="#">{{tuto.me}}</a></small>
      </span>
    </div>

    <h3 class="news-title">{{tuto.title}}</h3>

    <div class="nc-clearfix-left"></div>
    <p class="text-news">
      <span class="nc-small-font">{{tuto.description}}</span>
    </p>
  </div>
  <div class="nc-clearfix"></div>
</div>