<div id="dashboard">
  <!-- For the dashboard -->
  <div class="header-dashboard">

    <div id="top_panel_filter" style="visibility: hidden">
      <div class="filters">
        <button class="active nc-tooltip" data-internalid="updated_at" id="filter_date_up">
          <i class="fa fa-list-ul medium nc-clickable"></i><span>Last Activities</span>
        </button>
        <button data-internalid="created_at" id="filter_date" class="nc-tooltip">
          <i class="fa fa-history medium nc-clickable"></i><span>Last Post</span>
        </button>
        <button data-internalid="comments_count" id="filter_comments" class="nc-tooltip">
          <i class="fa fa-comment-o medium nc-clickable"></i><span>Most Commented</span>
        </button>
        <button data-internalid="avg_rate" id="filter_votes" class="nc-tooltip">
          <i class="fa fa-star-o medium nc-clickable"></i><span>Best Notes</span>
        </button>
      </div>

      <div class="btn-group" id="filter_date_range">
        <a role="button" data-target="#" type="button" class="btn btn-default dropdown-toggle"
           data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"><span class="title">Last week</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="menu_date_range">
          <li><a href="#" class="dd_menu_date_range" data-internalid="1">Last day</a></li>
          <li><a href="#" class="dd_menu_date_range" data-internalid="7">Last week</a></li>
          <li><a href="#" class="dd_menu_date_range" data-internalid="31">Last month</a></li>
          <li><a href="#" class="dd_menu_date_range" data-internalid="1000">All time</a></li>
        </ul>
      </div>

      <div class="btn-group" id="filter_teams">
        <a role="button" data-target="#" type="button" class="btn btn-default dropdown-toggle"
           data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"><span class="title">@All teams</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="menu_filter_team">
          <!-- {{#each teams}} -->
          <li><a href="#" data-internalid="_id" class="menu_filter_team">
            @name
          </a></li>
          <!-- {{/each}} -->
          <li><a href="#" data-internalid="" class="menu_filter_team">
            @All teams
          </a></li>
          <li><a href="#" id="menu_team_private" data-internalid="team_private" class="menu_filter_team">
            @Private
          </a></li>
        </ul>
      </div>

      <!-- EXPORT -->
      <div class="filters filter-export">
        <button id="export_news" class="nc-clickable active nc-tooltip">
          <i class="fa fa-external-link medium"></i><span>Export</span>
        </button>
      </div>

      <!-- Edit Team -->
      <!-- {{# if owner }} -->
        <div class="filters edit_team">
          <button id="edit_team" class="nc-clickable nc-tooltip">
            <i class="fa fa-cog medium" aria-hidden="true"></i><span>Edit team</span>
          </button>
        </div>
      <!-- {{/if}} -->
    </div>

    <!-- SEARCH -->
    <div id="top_panel_search" class="">
      <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" id="group_search_text">
          <i id="search_icon" class="fa fa-search medium"></i>
          <input type="text" placeholder="Search..." id="search_text">
        </div>
        <div class="btn-group" id="dropdown_menu_authors">
          <a id="button_menu_authors" role="button" data-target="#" type="button"
             class="btn btn-default dropdown-toggle nc-search-both-border"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <span class="title">Who?</span> <span class="caret"></span><i class="nc-remove nc-invisible"> </i>
          </a>
          <a id="manualsearch_menu_authors"
             class="nc-invisible btn btn-default  nc-search-both-border button-manualsearch">
            <input type="text" name="manualsearch_authors" id="manualsearch_authors" placeholder="Find..."
                   class="manualsearch"><i class="fa fa-times-circle"></i></a>

          <ul class="dropdown-menu" id="menu_authors">
            <!-- {{#if authors }} -->
              <!-- {{#each authors}} -->
                <li><a href="#" class="dd_menu_authors" data-internalid="_id">
                  <img class="nc-avatar medium" alt="username" src="/assets/media/icons/avatars/avatars_1.png" title="username"/>
                  username</a></li>
              <!-- {{/each}} -->
              <li>
                <a href="#" id="more_authors">
                  <!-- {{# if more_authors }}<i class="fa fa-plus-circle"></i>{{else}}<i class="fa fa-minus-circle"></i>{{/if}} -->
                </a>
              </li>
            <!-- {{else}} -->
              <li><a href="#">No teammate found</a></li>
            <!-- {{/if}} -->
          </ul>
        </div>
        <div class="btn-group" id="dropdown_menu_created_at">
          <a role="button" data-target="#" type="button" class="btn btn-default dropdown-toggle nc-search-border"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <span class="title">When?</span> <span class="caret"></span><i class="nc-remove nc-invisible"><i
            class="fa fa-times-circle"></i> </i>
          </a>
          <ul class="dropdown-menu" id="menu_created_at">
            <li><a href="#" class="dd_menu_created_at" data-internalid="7">This week</a></li>
            <li><a href="#" class="dd_menu_created_at" data-internalid="31">This month</a></li>
            <li><input type="text" class="form-control datepicker" id="my-datepicker" placeholder="From"></li>
            <li><input type="text" class="form-control datepicker" id="my-datepicker-to" placeholder="To"></li>
          </ul>
        </div>
        <div class="btn-group" id="dropdown_menu_sources">
          <a id="button_menu_sources" role="button" data-target="#" type="button"
             class="btn btn-default dropdown-toggle nc-search-border"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <span class="title">Sources?</span> <span class="caret"></span><i
            class="nc-remove nc-invisible"> </i>
          </a>
          <a id="manualsearch_menu_sources"
             class="nc-invisible btn btn-default  nc-search-both-border button-manualsearch">
            <input type="text" name="manualsearch_sources" id="manualsearch_sources" placeholder="Find..."
                   class="manualsearch"><i class="fa fa-times-circle"></i></a>
          <ul class="dropdown-menu" id="menu_sources">
            <!-- {{#if sources }} -->
              <!-- {{#each sources}} -->
                <li><a href="#" class="dd_menu_sources" data-internalid="_id">
                  <img src="/assets/media/icons/avatars/avatars_1.png" class="nc-logo-source-menu">name
                </a></li>
              <!-- {{/each}} -->
              <!-- {{# if more_sources }} -->
                <li><a href="#" id="less_sources"><i class="fa fa-minus-circle"></i></a></li>
              <!-- {{else}} -->
                <li><a href="#" id="more_sources"><i class="fa fa-plus-circle"></i></a></li>
              <!-- {{/if}} -->
            <!-- {{else}} -->
              <li><a href="#">No sources found</a></li>
            <!-- {{/if}} -->
          </ul>
        </div>
        <div class="btn-group" id="dropdown_menu_tags">
          <a id="button_menu_tags" role="button" data-target="#" type="button"
             class="btn btn-default dropdown-toggle nc-search-border"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <span class="title">Tags?</span> <span class="caret"></span><i class="nc-remove nc-invisible"> </i>
          </a>
          <a id="manualsearch_menu_tags"
             class="nc-invisible btn btn-default  nc-search-both-border button-manualsearch">
            <input type="text" name="manualsearch_tags" id="manualsearch_tags" placeholder="Find..." style=""
                   class="manualsearch"><i class="fa fa-times-circle"></i></a>
          <ul class="dropdown-menu" id="menu_tags">
            <!-- {{#if tags }} -->
              <!-- {{#each tags}} -->
                <li><a href="#" class="dd_menu_tags" data-internalid="this.name">#this.name (occTags this.name)</a>
                </li>
              <!-- {{/each}} -->
              <!-- {{# if more_tags }} -->
                <li><a href="#" id="less_tags"><i class="fa fa-minus-circle"></i></a></li>
              <!-- {{else}} -->
                <li><a href="#" id="more_tags"><i class="fa fa-plus-circle"></i></a></li>
              <!-- {{/if}} -->
            <!-- {{else}} -->
              <li><a href="#">No tags found</a></li>
            <!-- {{/if}} -->
          </ul>
        </div>
        <div class="btn-group" id="dropdown_menu_teams">
          <a id="button_menu_teams" role="button" data-target="#" type="button"
             class="btn btn-default dropdown-toggle nc-noborder"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <span class="title">Teams?</span> <span class="caret"></span><i class="nc-remove nc-invisible"> </i>
          </a>
          <a id="manualsearch_menu_teams" class="nc-invisible btn btn-default  nc-search-both-border button-manualsearch">
            <input type="text" name="manualsearch_teams" id="manualsearch_teams" placeholder="Find..." style=""
                   class="manualsearch"><i class="fa fa-times-circle"></i></a>
          <ul class="dropdown-menu" id="menu_teams">
            <!-- {{#if teams }} -->
              <!-- {{#each teams}} -->
                <li><a href="#" class="dd_menu_teams" data-internalid="this._id">@this.name</a>
                </li>
              <!-- {{/each}} -->
              <!-- {{# if more_teams }} -->
                <li><a href="#" id="less_teams"><i class="fa fa-minus-circle"></i></a></li>
              <!-- {{else}} -->
                <li><a href="#" id="more_teams"><i class="fa fa-plus-circle"></i></a></li>
              <!-- {{/if}} -->
            <!-- {{else}} -->
              <li><a href="#">No teams found</a></li>
            <!-- {{/if}} -->
          </ul>
        </div>
        <div class="btn-group" id="btn_search_group">
          <button id="btn_search">Go</button>
        </div>
        <div class="btn-group" id="btn_back_group">
          <button id="btn_back" class="remove"><i class="fa fa-times-circle"></i></button>
        </div>
      </div>
    </div>

    <div class="nc-clearfix"></div>
  </div>
  <div id="news">
    <main-news></main-news>
  </div>
</div>