<div class="nc-logo">
  <a href="/">
    <img src="/assets/media/icons/logo.png" i18n-alt alt="Logo" i18n-title title="Logo">
  </a>
</div>

<div class="nc-background">
  <div class="nc-bg-login">
    <div class="nc-login-box">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>