/* Animation for effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInBlur {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes fadeOutBlur {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}


@keyframes slide-right-in {
  from {
    right: -1000px;
  }
  to {
    right: 0px;
  }
}
@keyframes slide-right-out {
  from {
    right: 0px;
  }
  to {
    right: -1000px;
  }
}

@keyframes slide-right-in-filter {
  from {
    right: 0px;
  }
  to {
    right: 1000px;
  }
}

@keyframes slide-right-out-filter {
  from {
    right: 1000px;
    visibility: hidden;
  }
  to {
    right: 0px;
    visibility: visible;
  }
}

@keyframes slide-right-in-search {
  from {
    right: -1437px;
  }
  to {
    right: 0px;
  }
}

@keyframes slide-right-out-search {
  from {
    right: 15px;
  }
  to {
    right: -760px;
  }
}

@keyframes slide-right-in-search-icon {
  from {
    right: 0px;
  }
  to {
    right: -140px;
  }
}

@keyframes slide-right-out-search-icon {
  from {
    right: -140px;
  }
  to {
    right: 0px;
  }
}

@keyframes slide-right2-in-filter {
  from {
    right: 0px;
  }
  to {
    right: 1000px;
  }
}

@keyframes slide-right2-in-search {
  from {
    right: -760px;
  }
  to {
    right: 15px;
  }
}

@keyframes slide-right2-in {
  from {
    right: -220px;
  }
  to {
    right: 0px;
  }
}
@keyframes slide-right2-out {
  from {
    right: 0px;
  }
  to {
    right: -200px;
  }
}
@keyframes opacity-appearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.opacity-appearance {
  @include animix(opacity-appearance, 0.3, ease-in-out);
}

.nc-appearance {
  @include animix(fadeIn, 0.3, ease-in-out);
}

.nc-appearance-blur {
  @include animix(fadeInBlur, 0, ease-in-out);
}

.nc-appearance-blur-out {
  @include animix(fadeOutBlur, 0, ease-in-out);
}

.nc-slide-reader-right {
  @include animix(slide-right-in, 0.3, ease-in-out);
}

.nc-slide-reader-right-out {
  @include animix(slide-right-out, 0.3, ease-in-out);
}

.nc-slide-confirm-right {
  @include animix(slide-right2-in, 0.3, ease-in-out);
}

.nc-slide-confirm-right-out {
  @include animix(slide-right2-out, 0.3, ease-in-out);
}

/*for the search bar*/
.anim-search-text-in {
  @include animix(slide-right-in-search, 2.1, ease-in-out);
}
.anim-search-text-out {
  @include animix(slide-right-out-search, 0.7, ease-in-out);
}

.anim-search-filter-out {
  @include animix(slide-right-out-filter, 0.7, ease-in-out);
}

/*for the filter bar*/
.anim-search-filter-in {
  @include animix(slide-right-in-filter, 2.1, ease-in-out);
}
.anim-search-filter-out {
  @include animix(slide-right-out-filter, 0.7, ease-in-out);
}

/*search icon*/
.search-left {
  position: relative;
  @include animix(slide-right-in-search-icon, 2.1, ease-in-out);
}
.search-right {
  position: relative;
  @include animix(slide-right-out-search-icon, 0.7, ease-in-out);
}


.anim-drop-open {
  @include animix(height-open, 2.1, ease-in-out);
}

.anim-btn-filter-in {
  position: relative;
  @include animix(slide-right2-in-filter, 0.7, ease-in-out);
}

.anim-btn-search-in {
  position: relative;
  @include animix(slide-right2-in-search, 0.7, ease-in-out);
}
.anim-btn-search-out {
  position: relative;
  z-index: 2000;
  @include animix(slide-right2-out, 0.7, ease-in-out);
}



@keyframes users-right-in {
  from {
    right: -460px;
  }
  to {
    right: 0;
  }
}
@keyframes users-right-out {
  from {
    right: 0;
  }
  to {
    right: -460px;
  }
}

.nc-users-right {
  @include animix(users-right-in, 0.5, ease-in-out);
}

.nc-users-right-out {
  @include animix(users-right-out, 0.5, ease-in-out);
}

@-webkit-keyframes rotate {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@-webkit-keyframes rotate-reverse {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

/*for the arrow for the roles*/
.animation-rotate {
  @include animix(rotate, 0.3, linear);
}

.animation-rotate-reverse {
  @include animix(rotate-reverse, 0.3, linear);
}

@-webkit-keyframes slide-roles {
  from {
    right: -500px;
  }
  to {
    right: 0px;
  }
}

@-webkit-keyframes slide-roles-reverse {
  from {
    right: 0px;
  }
  to {
    right: -500px;
  }
}

/*for the roles */
.animation-slide-roles {
  @include animix(slide-roles, 0.3, ease-in-out);
}
.animation-slide-roles-reverse {
  @include animix(slide-roles-reverse, 0.3, ease-in-out);
}