/* Classes */

.nc-small-font {
  font-size: 12px;
}

.nc-opacity {
  opacity: 0.3;
}

.nc-clearfix {
  clear: both;
}

.nc-clearfix-left {
  clear: left;
}

.nc-clearfix-right {
  clear: right;
}

.nc-left {
  float: left;
}

.nc-right {
  float: right;
}

.nc-invisible {
  display: none;
}

.nc-center {
  text-align: center;
}

.nc-text-right {
  text-align: right;
}

.nc-block {
  display: block;
}

.nc-clickable {
  cursor: pointer;
}

.form-error {
  border-color: red;
}

.separate-line {
  border-top: 1px solid $lightGrey;
  margin: 5px 0;
}

.thumb {
  border-radius: 50%;
}

@for $i from 0 through 100 {
  .progress-width-#{$i} {
    width: #{$i}#{'%'};
  }
}

/* For Avatar */
.nc-avatar {
  border-radius: 50%;
  text-align: center;
  margin: 0 2px;

  &.smaller {
    width: 21px;
    height: 21px;
  }

  &.small {
    width: 30px;
    height: 30px;
  }

  &.medium-head {
    width: 25px;
    height: 25px;
  }

  &.medium {
    width: 30px;
    height: 30px;

    position: relative;
    bottom: 2px;
  }

  &.big {
    width: 45px;
    height: 45px;
  }
}

.highlighted {
  background-color: $highlightColor;
  color: $white;
  padding: 0 2px;
}

.no-btn-style {
  background: transparent;
  border: none;
  padding: 0;
}

.error {
  color: red !important;
}

.nc-not-good {
  background-color: #d0d0d0 !important;
}

h3.news-title {
  max-width: 70%;
  color: $titleNewsColor;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  margin-top: 0;
  cursor: pointer;
}

.nc-favorite {
  position: absolute;
  left: -50px;

  button {
    @extend .no-btn-style;
  }
}

.rate-star {
  @extend .no-btn-style;
}

.fa.fa-star-o.stars.rate-star {
  color: #d8d8d8;
}

.fa.fa-star.stars.rate-star {
  color: $backgroundColor;
}

.fa.fa-star-half-o.stars.rate-star {
  color: $backgroundColor;
}

.fa.fa-star-half.stars.rate-star {
  color: $backgroundColor;
  position: relative;
  z-index: 1;
}

.fa.fa-star-o.fa-flip-horizontal.stars.rate-star {
  margin-left: -12px;
  position: relative;
  z-index: 0;
}

.rate-star.fa.fa-star {
  color: $backgroundColor;
}

.rate-news {
  float: right;
  margin-left: 10px;
  text-align: right;
}

.nc-rating {
  direction: rtl;
  font-size: 20px;
  font-family: FontAwesome;
}

.nc-rating > button {
  position: relative;
  margin-right: -5px;
  padding-right: 3px;

  &.fa.fa-star-o {
    color: #d8d8d8;
  }
}

.nc-rating > button:hover:before, .nc-rating > button:hover ~ button:before {
  content: "\f005";
  color: $backgroundColor;
}

/** For the tags and tags fields **/
/* Fields style */
tag-input {
  border-radius: 0 !important;
  width: 100%;
  border: none !important;
  box-shadow: 0px 2px 0px 0px #d0d0d0 !important;
  margin-bottom: 10px;

  div {
    box-shadow: none !important;
    border: none !important;

    /* Effect and style for tags */
    tag {
      font-weight: 400;
      font-size: 95%;
      color: #52a7d1 !important;
      border-radius: none !important;
      background-color: #c2e1f5 !important;
      cursor: pointer;
      position: relative;
      padding: inherit;
      text-align: center;

      tag-ripple {
        line-height: 22px !important;
      }

    }
  }

  /* Field to add tags */
  tag-input-form {
    form {
      height: 27px !important;
      font-family: $pageFontTitle !important;

      /* For form tags style */
      input {
        height: 24px !important;
      }
    }
  }

  .bootstrap3-info[_ngcontent-c0] tag[_ngcontent-c0] {

  }

  /* The field for the effect of shadows */
  .bootstrap3-info.ng2-tag-input.ng2-tag-input--focused[_ngcontent-c5] {
    box-shadow: none !important;
    border: none !important;
  }

  .bootstrap3-info[_nghost-c10]   path[_ngcontent-c10], .bootstrap3-info   [_nghost-c10]   path[_ngcontent-c10] {
    fill: #52a7d1 !important;
  }

  /* The delete button */
  delete-icon[_nghost-c10] svg[_ngcontent-c10] {
    vertical-align: initial !important;
    height: 16px !important;
    fill: #52a7d1 !important;
  }
  delete-icon[_nghost-c10]:hover {
    transform: scale(1.5) translateY(1px) !important;
  }

  /* For tags style */
  tag[_ngcontent-c5] {
    height: 24px !important;
    line-height: 21px !important;
  }

  .bootstrap3-info.ng2-tag-input[_ngcontent-c5] {
    border-radius: none !important;
  }

  .ng2-tag-input.ng2-tag-input--focused[_ngcontent-c5] {
    border-bottom: none !important;
  }

  .ng2-tag-input.bootstrap3-info[_ngcontent-c5] {
    height: 22px !important;
    line-height: normal !important;
    padding: 4px 6px !important;
    border-radius: none !important;
  }
}

.tag_news, .tag_help {
  @extend .no-btn-style;
  color: $listColor;
  background-color: #e9e9e8;
  padding: 2px 4px;
  margin-left: 3px;
  margin-right: 3px;
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

/* BUTTONS */
button {
  outline: none;
  &:not(#btn_close_dragdrop, #btn_post_direct) {
    background-color: #51a6d1;
    width: 290px;
    margin-top: 10px;
    font-size: 27px;
  }
}

.nc-btn-post {
  padding: 7px;
  color: $white;
  border: none;
  outline: none;
}

.nc-btn-primary {
  @extend .nc-btn-post;
  background-color: $backgroundColor;
  &:hover {
    box-shadow: inset 0px -3px 3px 0px $insetBtnLine;
  }
  &.nc-not-good:hover {
    box-shadow: none;
  }
  &:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px $insetBtnLine;
    -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px $insetBtnLine;
    box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px $insetBtnLine;
  }
}

.nc-btn-second {
  @extend .nc-btn-post;
  background-color: $btnColor;
  &:hover {
    box-shadow: inset 0px -3px 3px 0px $shadowColor;
  }
  &.nc-not-good:hover {
    box-shadow: none;
  }
  &:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
  }
}

.nc-btn-third {
  @extend .nc-btn-post;
  background-color: $btnRed;
  &:hover {
    box-shadow: inset 0px -3px 3px 0px $shadowColor;
  }
  &.nc-not-good:hover {
    box-shadow: none;
  }
  &:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
  }
}

.nc-btn-remove {
  background-color: #dd5050;
  @extend .nc-btn-post;
  &:hover, &:active {
    text-decoration: none;
  }
}

.nc-btn-primary {
  background-color: $backgroundColor;
  @extend .nc-btn-post;
}

.nc-btn-second {
  @extend .nc-btn-post;
  background-color: $btnColor;
}

.nc-btn-third {
  background-color: $btnRed;
  @extend .nc-btn-post;
}

.nc-warning {
  color: $warning !important;
  @extend .nc-clickable;

  i {
    margin-left: 10px;
  }
}

.nc-text-post {
  box-shadow: 0px 2px 0px 0px $shadowColor;
  border: none;
}

.nc-google-connect {
  @extend .nc-btn-post;
  background-color: $googleBtn !important;
  font-family: Arial, sans-serif;
  font-size: 23px !important;
  padding: 10px;
  /* Can be a problem || need to check */
  margin-top: 10px;
  width: 290px;

  &:hover {
    box-shadow: inset 0px -3px 3px 0px $shadowColor;
  }
  &.nc-not-good:hover {
    box-shadow: none;
  }
  &:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 6px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
  }
}

.nc-login-field {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid $shadowColor;
}

/* Tootip */
.nc-tooltip {
  position: relative;
  display: inline;
}

.nc-tooltip span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.nc-tooltip:hover span {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.nc-tooltip span {
  padding: 4px;
  top: 45px;
  left: 4px;
  width: 120px;
  background-color: #000000;
  color: $white;
  height: auto;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  word-wrap: break-word;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.nc-tooltip-fav, .nc-tooltip-import, .nc-tooltip-hl, .nc-tooltip-trophies {
  @extend .nc-tooltip;

}

.nc-tooltip-fav span, .nc-tooltip-import span, .nc-tooltip-hl span {
  width: 90px;
  top: 26px;
  left: -4px;
  text-align: center;
}

.nc-tooltip-hl span:after {
  top: 20%;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
  left: -9%;
}

.nc-tooltip-hl span {
  width: 90px;
  top: 4px;
  left: 50px;
  text-align: center;
}

.nc-tooltip-trophies span {
  width: 140px;
  top: 35px;
  left: -60px;
  text-align: center;
}

.nc-tooltip-trophies span:after {
  left: 50%;
}

.blur {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  z-index: 100;
}