/** Fonts **/
@font-face {
  font-family: 'museo_slab500';
  src: url('/assets/media/fonts/museo_slab500.eot');
  src: url('/assets/media/fonts/museo_slab500.eot?#iefix') format('embedded-opentype'),
       url('/assets/media/fonts/museo_slab500.woff2') format('woff2'),
       url('/assets/media/fonts/museo_slab500.woff') format('woff'),
       url('/assets/media/fonts/museo_slab500.ttf') format('truetype'),
       url('/assets/media/fonts/museo_slab500.svg#museo_slab500') format('svg');
  src: url("/assets/media/fonts/museo_slab500.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptc75f-webfont';
  src: url('/assets/media/fonts/ptc55f-webfont.eot');
  src: url('/assets/media/fonts/ptc55f-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/media/fonts/ptc55f-webfont.woff2') format('woff2'),
       url('/assets/media/fonts/ptc55f-webfont.woff') format('woff'),
       url('/assets/media/fonts/ptc55f-webfont.ttf') format('truetype'),
       url('/assets/media/fonts/ptc55f-webfont.svg#ptc55f-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

$pageFontTitle : museo_slab500, Helvetica, sans-serif;
$pageFontContent : ptc75f-webfont, Helvetica, sans-serif;
