/* You can add global styles to this file, and also import other style files */
body {
  background-color: $backgroundColor;
  margin: 0px;
  font-family: $pageFontContent;
  font-size: $pageFontContentSize;

  .loading {
    color: $white;
    margin: 0 50%;
    line-height: 50vw;

    i {
      position: relative;

      div {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid $white;
        position: absolute;
        top: 0px;
        left: 26.4px;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $pageFontTitle;
  }

  i {
    &.mini {
      font-size: 11px;
    }

    &.small {
      font-size: 14px;
    }

    &.medium {
      font-size: 15px;
    }

    &.medium-larg {
      font-size: 18px;
    }

    &.big {
      font-size: 23px;
    }

    &.huge {
      font-size: 30px;
    }

    &.stars {
      font-size: 20px;
    }

    &.arrow {
      font-size: 46px;
      color: $arrowNewsColor;
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  #content {
    background-color: $mainBgColor;
    max-width: 1237px;
    min-width: 1024px;
    margin: 0 auto;
  }

  .loading-component {
    text-align: center;
    color: white;

    i {
      position: relative;

      div {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid $white;
        position: absolute;
        top: 0px;
        left: 26.4px;
      }
    }
  }

}