/* Mixins */
/*Je dois changer celui là*/
@mixin nc-center($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animix($name, $duration_sec, $option){
  animation: $name $duration_sec+s $option;
  -webkit-animation: $name $duration_sec+s $option;
  -moz-animation: $name $duration_sec+s $option;
}

