/* Colors */
$backgroundColor : #51a6d1;
$white : #ffffff;
$btnColor : #c5c5c5;
$shadowColor : #d0d0d0;
$btnRed : red;
$warning : #db3b3b;
$insetBtnLine : #116693;
$googleBtn : #df4a32;
$lightGrey : #f1f1f1;
$mainBgColor : #d0d0d0;
$arrowNewsColor : #cccccc;
$colorNewsfeed : #7e8284;
$title : #52a7d1;
$bodyColor : #6d6d6d;
$titleNewsColor : #2b3133;
$listColor : #6e9db2;
$highlightColor : #279fdb;

/** Colors for select **/
$searchBackColor : white;
$searchBackColorActive : #f1f1f1;
$searchBackColorMenu : lightgray;
$searchBackColorContainer: #E8E8E8;
$searchBorderDropDown: #d0d0d0;
$btnColor : #c5c5c5;

/* Colors for tags */
$backgroundTags : #c2e1f5;
$colorTags : #52a7d1;

/* Size */
$pageFontContentSize : 12.6px;
$panelSize : 218px;
$titleSize : 22px;