<div class="nc-logo-main-page">
  <a href="/">
    <img src="/assets/media/icons/logo.png" i18n-alt alt="Logo" i18n-title title="Logo">
  </a>
</div>

<div class="nc-profile-user">
  <div class="profile">

    <!-- For progress part -->
    <div class="nc-progress">
      <div class="nc-progressbar">
        <div class="progress-width-{{percentage}}"></div>
        <span class="less-than-50">{{percentage}} %</span>
        <!-- <span class="plus-than-50">{{percentage}} %</span> -->
      </div>
      <div class="nc-level-background"></div>
      <div class="nc-level">{{level}}</div>
    </div>

    <!-- Separation for profile and gamification -->
    <div class="nc-separate-gamification"></div>

    <!-- Icons for Fav & Notif  -->
    <a>
      <i class="fa fa-flag-o medium" aria-hidden="true"></i>
      <!-- <span class="nc-notif"><div>0</div></span> -->
    </a>
    <a class="nc-clickable nc-tooltip-fav">
      <i class="fa fa-heart-o medium"></i><span i18-n>Favorites</span>
    </a>

    <!-- Profile picture   -->
    <img class="nc-avatar medium-head nc-right nc-clickable" (click)="toggle()" src="{{domain}}{{user.avatar}}" alt="{{user.firstname}} {{user.lastname}}" title="{{user.firstname}} {{user.lastname}}"/>
  </div>
  <div class="arrow_box"></div>

  <!-- This block is for the popup  -->
  <div class="popup_profile nc-invisible">
    <div id="content_profile">
      <span class="optiongrp nc-left" i18-n>You</span>
      <hr>
      <div class="nc-clearfix"></div>
      <ul>
        <a href="" class="mixpanel-profile_edit">
          <li id="edit_account" class="profile-list" i18-n>Edit account</li>
        </a>
        <a href="" class="mixpanel-mailing">
          <li class="profile-list" i18-n>My Mailing List</li>
        </a>

        <a (click)="loginOut()" class="mixpanel-signout">
          <li class="profile-list" i18-n><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</li>
        </a>

        <div class="separate-line"></div>

        <a href="" class="mixpanel-mailing">
          <li class="profile-list" i18-n>My trophies</li>
        </a>
        <a id="to_tutorial" class="mixpanel-mailing nc-clickable">
          <li class="profile-list" i18-n>Tutorial</li>
        </a>

      </ul>
    </div>
  </div>

</div>
