<div id="panel_activities">
  <h3 i18n><span><i class="fa fa-clock-o huge"></i></span>Activities</h3>
  <span class="nc-center nc-block">
    <span i18n>Any activities here,</span>
    <br/>
    <a class="post_crush" href="" i18n-tooltip tooltip="Drag it or paste it" i18n>post a crush</a>
    <br/>
    <!-- {{#if owner }}{{_ "or"}} When the database will be linked  -->
     <a class="invite_teammate" href="" i18n>Invite teammate</a>
     <!-- {{/if}} Same as above -->
  </span>
</div>