<div id="panel_teammates">
  <h3 i18n>Tags</h3>
    <div class="loading-component" *ngIf="load"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
    <ul>
      <!-- he session 'tutorial' is actif when we click on tutorial on the menue -->
      <li><a href="#" class="nc-help" i18n>#help<i class="fa fa-remove nc-right nc-invisible"></i></a></li>
      <li *ngFor="let tag of tags" class="active-search">
        <a href="#" title="#{{tag.name}}" data-internalid="tag.name" class="panel_menu_tags">
          #{{tag.name}}
          <span>({{occTags (tag.name)}})</span>
          <i class="fa fa-remove nc-right nc-invisible"></i>
        </a>
      </li>
    </ul>
    <div *ngIf="remaining < 0">
      <span i18n>Add tags in your crush,</span>
      <br/>
      <a class="post_crush" href="" i18n>post a crush</a>
    </div>

  <!-- {{#unless (session 'tutorial')}}{{#if gt tags_remaining 0}}<a class="more" href="#">+ {{tags_remaining}} {{_ "more..."}}</a>{{/if}}{{/unless}} -->


  <!-- <h3>{{_ "Tags"}}</h3><span class="nc-close-modal">X</span>
  <hr>
  <ul>
    {{#each tags}}
      <li><a href="#" data-internalid="{{this.name}}" class="panel_menu_tags">#{{this.name}}<span> ({{occTags this.name}})</span><i class="fa fa-remove nc-right nc-invisible"></i></a></li>
    {{else}}
      <span>{{_ "Add tags in your crush,"}}</span>
      <br/>
      <a class="post_crush" href="">{{_ "post a crush"}}</a>
    {{/each}}
  </ul> -->
</div>