<div id="panel_tags">
  <h3 i18n>Teammates</h3>
  <!-- The session 'tutorial' is actif when we click on tutorial on the menue -->
  <!-- teammates -->
  <!-- {{#unless (session 'tutorial')}} -->
  <div class="loading-component" *ngIf="load"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
    <ul >
      <li *ngFor="let teammate of teammates">
        <a href="#" title="@{{teammate.firstname}} {{teammate.lastname}}" data-internalid="_id" class="panel_menu_authors">
          @{{teammate.firstname}} {{teammate.lastname}}
          <span>({{nbPosts(teammate.id)}})</span>
          <i class="fa fa-remove nc-right nc-invisible"></i>
        </a>
      </li>
      <br/>
    </ul>

    <a *ngIf="remaining > 0" class="more" href="#" i18n>+ {{remaining}} more...</a>
    <div class="nc-clearfix" style="margin-top:5px;"></div>
    <span *ngIf="!teammates" i18n>You are alone so far.</span>
    <br/>
  <!-- {{/unless}} -->

  <!-- {{#if owner }} -->
    <a class="invite_teammate" href="" i18n>
      Invite teammate!
    </a>
  <!-- {{/if}} -->
<br>

  <!-- <h3>{{_ "Teammates"}}</h3><span class="nc-close-modal">X</span>
    <ul>
      {{#each teammates.data}}
        {{#if lte teammates.count 1}}
          <span>{{_ "You are alone so far."}}</span>
        {{else}}
            <li><a href="#" data-internalid="{{_id}}" class="panel_menu_authors">@{{#if profile.firstname}} {{profile.firstname}} {{profile.lastname}}{{else}}{{username}}{{/if}}<span>({{nbPosts this._id}})</span><i class="fa fa-remove nc-right nc-invisible"></i></a></li>
        {{/if}}
      {{/each}}
    </ul> -->
</div>