@charset "UTF-8";
/* compass */
/* Settings */
/** Fonts **/
@font-face {
  font-family: 'museo_slab500';
  src: url("/assets/media/fonts/museo_slab500.eot");
  src: url("/assets/media/fonts/museo_slab500.eot?#iefix") format("embedded-opentype"), url("/assets/media/fonts/museo_slab500.woff2") format("woff2"), url("/assets/media/fonts/museo_slab500.woff") format("woff"), url("/assets/media/fonts/museo_slab500.ttf") format("truetype"), url("/assets/media/fonts/museo_slab500.svg#museo_slab500") format("svg");
  src: url("/assets/media/fonts/museo_slab500.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ptc75f-webfont';
  src: url("/assets/media/fonts/ptc55f-webfont.eot");
  src: url("/assets/media/fonts/ptc55f-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/media/fonts/ptc55f-webfont.woff2") format("woff2"), url("/assets/media/fonts/ptc55f-webfont.woff") format("woff"), url("/assets/media/fonts/ptc55f-webfont.ttf") format("truetype"), url("/assets/media/fonts/ptc55f-webfont.svg#ptc55f-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Mixins */
/*Je dois changer celui là*/
/* Colors */
/** Colors for select **/
/* Colors for tags */
/* Size */
/* You can add global styles to this file, and also import other style files */
/* line 2, assets/settings-scss/settings/_global.scss */
body {
  background-color: #51a6d1;
  margin: 0px;
  font-family: ptc75f-webfont, Helvetica, sans-serif;
  font-size: 12.6px;
}
/* line 8, assets/settings-scss/settings/_global.scss */
body .loading {
  color: #ffffff;
  margin: 0 50%;
  line-height: 50vw;
}
/* line 13, assets/settings-scss/settings/_global.scss */
body .loading i {
  position: relative;
}
/* line 16, assets/settings-scss/settings/_global.scss */
body .loading i div {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 26.4px;
}
/* line 28, assets/settings-scss/settings/_global.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: museo_slab500, Helvetica, sans-serif;
}
/* line 33, assets/settings-scss/settings/_global.scss */
body i.mini {
  font-size: 11px;
}
/* line 37, assets/settings-scss/settings/_global.scss */
body i.small {
  font-size: 14px;
}
/* line 41, assets/settings-scss/settings/_global.scss */
body i.medium {
  font-size: 15px;
}
/* line 45, assets/settings-scss/settings/_global.scss */
body i.medium-larg {
  font-size: 18px;
}
/* line 49, assets/settings-scss/settings/_global.scss */
body i.big {
  font-size: 23px;
}
/* line 53, assets/settings-scss/settings/_global.scss */
body i.huge {
  font-size: 30px;
}
/* line 57, assets/settings-scss/settings/_global.scss */
body i.stars {
  font-size: 20px;
}
/* line 61, assets/settings-scss/settings/_global.scss */
body i.arrow {
  font-size: 46px;
  color: #cccccc;
}
/* line 67, assets/settings-scss/settings/_global.scss */
body a {
  text-decoration: none;
  cursor: pointer;
}
/* line 72, assets/settings-scss/settings/_global.scss */
body #content {
  background-color: #d0d0d0;
  max-width: 1237px;
  min-width: 1024px;
  margin: 0 auto;
}
/* line 79, assets/settings-scss/settings/_global.scss */
body .loading-component {
  text-align: center;
  color: white;
}
/* line 83, assets/settings-scss/settings/_global.scss */
body .loading-component i {
  position: relative;
}
/* line 86, assets/settings-scss/settings/_global.scss */
body .loading-component i div {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 26.4px;
}

/* Animation for effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInBlur {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes fadeOutBlur {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide-right-in {
  from {
    right: -1000px;
  }
  to {
    right: 0px;
  }
}
@keyframes slide-right-out {
  from {
    right: 0px;
  }
  to {
    right: -1000px;
  }
}
@keyframes slide-right-in-filter {
  from {
    right: 0px;
  }
  to {
    right: 1000px;
  }
}
@keyframes slide-right-out-filter {
  from {
    right: 1000px;
    visibility: hidden;
  }
  to {
    right: 0px;
    visibility: visible;
  }
}
@keyframes slide-right-in-search {
  from {
    right: -1437px;
  }
  to {
    right: 0px;
  }
}
@keyframes slide-right-out-search {
  from {
    right: 15px;
  }
  to {
    right: -760px;
  }
}
@keyframes slide-right-in-search-icon {
  from {
    right: 0px;
  }
  to {
    right: -140px;
  }
}
@keyframes slide-right-out-search-icon {
  from {
    right: -140px;
  }
  to {
    right: 0px;
  }
}
@keyframes slide-right2-in-filter {
  from {
    right: 0px;
  }
  to {
    right: 1000px;
  }
}
@keyframes slide-right2-in-search {
  from {
    right: -760px;
  }
  to {
    right: 15px;
  }
}
@keyframes slide-right2-in {
  from {
    right: -220px;
  }
  to {
    right: 0px;
  }
}
@keyframes slide-right2-out {
  from {
    right: 0px;
  }
  to {
    right: -200px;
  }
}
@keyframes opacity-appearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
/* line 146, assets/settings-scss/settings/_animations.scss */
.opacity-appearance {
  animation: opacity-appearance 0.3s ease-in-out;
  -webkit-animation: opacity-appearance 0.3s ease-in-out;
  -moz-animation: opacity-appearance 0.3s ease-in-out;
}

/* line 150, assets/settings-scss/settings/_animations.scss */
.nc-appearance, #news .news-part-blur, #news .news-part {
  animation: fadeIn 0.3s ease-in-out;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
}

/* line 154, assets/settings-scss/settings/_animations.scss */
.nc-appearance-blur {
  animation: fadeInBlur 0s ease-in-out;
  -webkit-animation: fadeInBlur 0s ease-in-out;
  -moz-animation: fadeInBlur 0s ease-in-out;
}

/* line 158, assets/settings-scss/settings/_animations.scss */
.nc-appearance-blur-out {
  animation: fadeOutBlur 0s ease-in-out;
  -webkit-animation: fadeOutBlur 0s ease-in-out;
  -moz-animation: fadeOutBlur 0s ease-in-out;
}

/* line 162, assets/settings-scss/settings/_animations.scss */
.nc-slide-reader-right {
  animation: slide-right-in 0.3s ease-in-out;
  -webkit-animation: slide-right-in 0.3s ease-in-out;
  -moz-animation: slide-right-in 0.3s ease-in-out;
}

/* line 166, assets/settings-scss/settings/_animations.scss */
.nc-slide-reader-right-out {
  animation: slide-right-out 0.3s ease-in-out;
  -webkit-animation: slide-right-out 0.3s ease-in-out;
  -moz-animation: slide-right-out 0.3s ease-in-out;
}

/* line 170, assets/settings-scss/settings/_animations.scss */
.nc-slide-confirm-right {
  animation: slide-right2-in 0.3s ease-in-out;
  -webkit-animation: slide-right2-in 0.3s ease-in-out;
  -moz-animation: slide-right2-in 0.3s ease-in-out;
}

/* line 174, assets/settings-scss/settings/_animations.scss */
.nc-slide-confirm-right-out {
  animation: slide-right2-out 0.3s ease-in-out;
  -webkit-animation: slide-right2-out 0.3s ease-in-out;
  -moz-animation: slide-right2-out 0.3s ease-in-out;
}

/*for the search bar*/
/* line 179, assets/settings-scss/settings/_animations.scss */
.anim-search-text-in {
  animation: slide-right-in-search 2.1s ease-in-out;
  -webkit-animation: slide-right-in-search 2.1s ease-in-out;
  -moz-animation: slide-right-in-search 2.1s ease-in-out;
}

/* line 182, assets/settings-scss/settings/_animations.scss */
.anim-search-text-out {
  animation: slide-right-out-search 0.7s ease-in-out;
  -webkit-animation: slide-right-out-search 0.7s ease-in-out;
  -moz-animation: slide-right-out-search 0.7s ease-in-out;
}

/* line 186, assets/settings-scss/settings/_animations.scss */
.anim-search-filter-out {
  animation: slide-right-out-filter 0.7s ease-in-out;
  -webkit-animation: slide-right-out-filter 0.7s ease-in-out;
  -moz-animation: slide-right-out-filter 0.7s ease-in-out;
}

/*for the filter bar*/
/* line 191, assets/settings-scss/settings/_animations.scss */
.anim-search-filter-in {
  animation: slide-right-in-filter 2.1s ease-in-out;
  -webkit-animation: slide-right-in-filter 2.1s ease-in-out;
  -moz-animation: slide-right-in-filter 2.1s ease-in-out;
}

/* line 194, assets/settings-scss/settings/_animations.scss */
.anim-search-filter-out {
  animation: slide-right-out-filter 0.7s ease-in-out;
  -webkit-animation: slide-right-out-filter 0.7s ease-in-out;
  -moz-animation: slide-right-out-filter 0.7s ease-in-out;
}

/*search icon*/
/* line 199, assets/settings-scss/settings/_animations.scss */
.search-left {
  position: relative;
  animation: slide-right-in-search-icon 2.1s ease-in-out;
  -webkit-animation: slide-right-in-search-icon 2.1s ease-in-out;
  -moz-animation: slide-right-in-search-icon 2.1s ease-in-out;
}

/* line 203, assets/settings-scss/settings/_animations.scss */
.search-right {
  position: relative;
  animation: slide-right-out-search-icon 0.7s ease-in-out;
  -webkit-animation: slide-right-out-search-icon 0.7s ease-in-out;
  -moz-animation: slide-right-out-search-icon 0.7s ease-in-out;
}

/* line 209, assets/settings-scss/settings/_animations.scss */
.anim-drop-open {
  animation: height-open 2.1s ease-in-out;
  -webkit-animation: height-open 2.1s ease-in-out;
  -moz-animation: height-open 2.1s ease-in-out;
}

/* line 213, assets/settings-scss/settings/_animations.scss */
.anim-btn-filter-in {
  position: relative;
  animation: slide-right2-in-filter 0.7s ease-in-out;
  -webkit-animation: slide-right2-in-filter 0.7s ease-in-out;
  -moz-animation: slide-right2-in-filter 0.7s ease-in-out;
}

/* line 218, assets/settings-scss/settings/_animations.scss */
.anim-btn-search-in {
  position: relative;
  animation: slide-right2-in-search 0.7s ease-in-out;
  -webkit-animation: slide-right2-in-search 0.7s ease-in-out;
  -moz-animation: slide-right2-in-search 0.7s ease-in-out;
}

/* line 222, assets/settings-scss/settings/_animations.scss */
.anim-btn-search-out {
  position: relative;
  z-index: 2000;
  animation: slide-right2-out 0.7s ease-in-out;
  -webkit-animation: slide-right2-out 0.7s ease-in-out;
  -moz-animation: slide-right2-out 0.7s ease-in-out;
}

@keyframes users-right-in {
  from {
    right: -460px;
  }
  to {
    right: 0;
  }
}
@keyframes users-right-out {
  from {
    right: 0;
  }
  to {
    right: -460px;
  }
}
/* line 247, assets/settings-scss/settings/_animations.scss */
.nc-users-right {
  animation: users-right-in 0.5s ease-in-out;
  -webkit-animation: users-right-in 0.5s ease-in-out;
  -moz-animation: users-right-in 0.5s ease-in-out;
}

/* line 251, assets/settings-scss/settings/_animations.scss */
.nc-users-right-out {
  animation: users-right-out 0.5s ease-in-out;
  -webkit-animation: users-right-out 0.5s ease-in-out;
  -moz-animation: users-right-out 0.5s ease-in-out;
}

@-webkit-keyframes rotate {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rotate-reverse {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
/*for the arrow for the roles*/
/* line 274, assets/settings-scss/settings/_animations.scss */
.animation-rotate {
  animation: rotate 0.3s linear;
  -webkit-animation: rotate 0.3s linear;
  -moz-animation: rotate 0.3s linear;
}

/* line 278, assets/settings-scss/settings/_animations.scss */
.animation-rotate-reverse {
  animation: rotate-reverse 0.3s linear;
  -webkit-animation: rotate-reverse 0.3s linear;
  -moz-animation: rotate-reverse 0.3s linear;
}

@-webkit-keyframes slide-roles {
  from {
    right: -500px;
  }
  to {
    right: 0px;
  }
}
@-webkit-keyframes slide-roles-reverse {
  from {
    right: 0px;
  }
  to {
    right: -500px;
  }
}
/*for the roles */
/* line 301, assets/settings-scss/settings/_animations.scss */
.animation-slide-roles {
  animation: slide-roles 0.3s ease-in-out;
  -webkit-animation: slide-roles 0.3s ease-in-out;
  -moz-animation: slide-roles 0.3s ease-in-out;
}

/* line 304, assets/settings-scss/settings/_animations.scss */
.animation-slide-roles-reverse {
  animation: slide-roles-reverse 0.3s ease-in-out;
  -webkit-animation: slide-roles-reverse 0.3s ease-in-out;
  -moz-animation: slide-roles-reverse 0.3s ease-in-out;
}

/* Classes */
/* line 3, assets/settings-scss/settings/_classes.scss */
.nc-small-font {
  font-size: 12px;
}

/* line 7, assets/settings-scss/settings/_classes.scss */
.nc-opacity, #news .news-part-blur {
  opacity: 0.3;
}

/* line 11, assets/settings-scss/settings/_classes.scss */
.nc-clearfix {
  clear: both;
}

/* line 15, assets/settings-scss/settings/_classes.scss */
.nc-clearfix-left {
  clear: left;
}

/* line 19, assets/settings-scss/settings/_classes.scss */
.nc-clearfix-right {
  clear: right;
}

/* line 23, assets/settings-scss/settings/_classes.scss */
.nc-left {
  float: left;
}

/* line 27, assets/settings-scss/settings/_classes.scss */
.nc-right {
  float: right;
}

/* line 31, assets/settings-scss/settings/_classes.scss */
.nc-invisible {
  display: none;
}

/* line 35, assets/settings-scss/settings/_classes.scss */
.nc-center {
  text-align: center;
}

/* line 39, assets/settings-scss/settings/_classes.scss */
.nc-text-right {
  text-align: right;
}

/* line 43, assets/settings-scss/settings/_classes.scss */
.nc-block {
  display: block;
}

/* line 47, assets/settings-scss/settings/_classes.scss */
.nc-clickable, .nc-warning {
  cursor: pointer;
}

/* line 51, assets/settings-scss/settings/_classes.scss */
.form-error {
  border-color: red;
}

/* line 55, assets/settings-scss/settings/_classes.scss */
.separate-line {
  border-top: 1px solid #f1f1f1;
  margin: 5px 0;
}

/* line 60, assets/settings-scss/settings/_classes.scss */
.thumb {
  border-radius: 50%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-0 {
  width: 0%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-1 {
  width: 1%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-2 {
  width: 2%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-3 {
  width: 3%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-4 {
  width: 4%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-5 {
  width: 5%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-6 {
  width: 6%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-7 {
  width: 7%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-8 {
  width: 8%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-9 {
  width: 9%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-10 {
  width: 10%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-11 {
  width: 11%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-12 {
  width: 12%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-13 {
  width: 13%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-14 {
  width: 14%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-15 {
  width: 15%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-16 {
  width: 16%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-17 {
  width: 17%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-18 {
  width: 18%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-19 {
  width: 19%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-20 {
  width: 20%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-21 {
  width: 21%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-22 {
  width: 22%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-23 {
  width: 23%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-24 {
  width: 24%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-25 {
  width: 25%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-26 {
  width: 26%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-27 {
  width: 27%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-28 {
  width: 28%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-29 {
  width: 29%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-30 {
  width: 30%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-31 {
  width: 31%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-32 {
  width: 32%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-33 {
  width: 33%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-34 {
  width: 34%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-35 {
  width: 35%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-36 {
  width: 36%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-37 {
  width: 37%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-38 {
  width: 38%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-39 {
  width: 39%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-40 {
  width: 40%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-41 {
  width: 41%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-42 {
  width: 42%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-43 {
  width: 43%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-44 {
  width: 44%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-45 {
  width: 45%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-46 {
  width: 46%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-47 {
  width: 47%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-48 {
  width: 48%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-49 {
  width: 49%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-50 {
  width: 50%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-51 {
  width: 51%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-52 {
  width: 52%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-53 {
  width: 53%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-54 {
  width: 54%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-55 {
  width: 55%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-56 {
  width: 56%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-57 {
  width: 57%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-58 {
  width: 58%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-59 {
  width: 59%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-60 {
  width: 60%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-61 {
  width: 61%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-62 {
  width: 62%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-63 {
  width: 63%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-64 {
  width: 64%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-65 {
  width: 65%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-66 {
  width: 66%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-67 {
  width: 67%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-68 {
  width: 68%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-69 {
  width: 69%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-70 {
  width: 70%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-71 {
  width: 71%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-72 {
  width: 72%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-73 {
  width: 73%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-74 {
  width: 74%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-75 {
  width: 75%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-76 {
  width: 76%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-77 {
  width: 77%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-78 {
  width: 78%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-79 {
  width: 79%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-80 {
  width: 80%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-81 {
  width: 81%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-82 {
  width: 82%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-83 {
  width: 83%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-84 {
  width: 84%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-85 {
  width: 85%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-86 {
  width: 86%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-87 {
  width: 87%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-88 {
  width: 88%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-89 {
  width: 89%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-90 {
  width: 90%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-91 {
  width: 91%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-92 {
  width: 92%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-93 {
  width: 93%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-94 {
  width: 94%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-95 {
  width: 95%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-96 {
  width: 96%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-97 {
  width: 97%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-98 {
  width: 98%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-99 {
  width: 99%;
}

/* line 65, assets/settings-scss/settings/_classes.scss */
.progress-width-100 {
  width: 100%;
}

/* For Avatar */
/* line 71, assets/settings-scss/settings/_classes.scss */
.nc-avatar {
  border-radius: 50%;
  text-align: center;
  margin: 0 2px;
}
/* line 76, assets/settings-scss/settings/_classes.scss */
.nc-avatar.smaller {
  width: 21px;
  height: 21px;
}
/* line 81, assets/settings-scss/settings/_classes.scss */
.nc-avatar.small {
  width: 30px;
  height: 30px;
}
/* line 86, assets/settings-scss/settings/_classes.scss */
.nc-avatar.medium-head {
  width: 25px;
  height: 25px;
}
/* line 91, assets/settings-scss/settings/_classes.scss */
.nc-avatar.medium {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 2px;
}
/* line 99, assets/settings-scss/settings/_classes.scss */
.nc-avatar.big {
  width: 45px;
  height: 45px;
}

/* line 105, assets/settings-scss/settings/_classes.scss */
.highlighted {
  background-color: #279fdb;
  color: #ffffff;
  padding: 0 2px;
}

/* line 111, assets/settings-scss/settings/_classes.scss */
.no-btn-style, .nc-favorite button, .rate-star, .tag_news, .tag_help {
  background: transparent;
  border: none;
  padding: 0;
}

/* line 117, assets/settings-scss/settings/_classes.scss */
.error {
  color: red !important;
}

/* line 121, assets/settings-scss/settings/_classes.scss */
.nc-not-good {
  background-color: #d0d0d0 !important;
}

/* line 125, assets/settings-scss/settings/_classes.scss */
h3.news-title {
  max-width: 70%;
  color: #2b3133;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  margin-top: 0;
  cursor: pointer;
}

/* line 136, assets/settings-scss/settings/_classes.scss */
.nc-favorite {
  position: absolute;
  left: -50px;
}

/* line 149, assets/settings-scss/settings/_classes.scss */
.fa.fa-star-o.stars.rate-star {
  color: #d8d8d8;
}

/* line 153, assets/settings-scss/settings/_classes.scss */
.fa.fa-star.stars.rate-star {
  color: #51a6d1;
}

/* line 157, assets/settings-scss/settings/_classes.scss */
.fa.fa-star-half-o.stars.rate-star {
  color: #51a6d1;
}

/* line 161, assets/settings-scss/settings/_classes.scss */
.fa.fa-star-half.stars.rate-star {
  color: #51a6d1;
  position: relative;
  z-index: 1;
}

/* line 167, assets/settings-scss/settings/_classes.scss */
.fa.fa-star-o.fa-flip-horizontal.stars.rate-star {
  margin-left: -12px;
  position: relative;
  z-index: 0;
}

/* line 173, assets/settings-scss/settings/_classes.scss */
.rate-star.fa.fa-star {
  color: #51a6d1;
}

/* line 177, assets/settings-scss/settings/_classes.scss */
.rate-news {
  float: right;
  margin-left: 10px;
  text-align: right;
}

/* line 183, assets/settings-scss/settings/_classes.scss */
.nc-rating {
  direction: rtl;
  font-size: 20px;
  font-family: FontAwesome;
}

/* line 189, assets/settings-scss/settings/_classes.scss */
.nc-rating > button {
  position: relative;
  margin-right: -5px;
  padding-right: 3px;
}
/* line 194, assets/settings-scss/settings/_classes.scss */
.nc-rating > button.fa.fa-star-o {
  color: #d8d8d8;
}

/* line 199, assets/settings-scss/settings/_classes.scss */
.nc-rating > button:hover:before, .nc-rating > button:hover ~ button:before {
  content: "\f005";
  color: #51a6d1;
}

/** For the tags and tags fields **/
/* Fields style */
/* line 206, assets/settings-scss/settings/_classes.scss */
tag-input {
  border-radius: 0 !important;
  width: 100%;
  border: none !important;
  box-shadow: 0px 2px 0px 0px #d0d0d0 !important;
  margin-bottom: 10px;
  /* Field to add tags */
  /* The field for the effect of shadows */
  /* The delete button */
  /* For tags style */
}
/* line 213, assets/settings-scss/settings/_classes.scss */
tag-input div {
  box-shadow: none !important;
  border: none !important;
  /* Effect and style for tags */
}
/* line 218, assets/settings-scss/settings/_classes.scss */
tag-input div tag {
  font-weight: 400;
  font-size: 95%;
  color: #52a7d1 !important;
  border-radius: none !important;
  background-color: #c2e1f5 !important;
  cursor: pointer;
  position: relative;
  padding: inherit;
  text-align: center;
}
/* line 229, assets/settings-scss/settings/_classes.scss */
tag-input div tag tag-ripple {
  line-height: 22px !important;
}
/* line 238, assets/settings-scss/settings/_classes.scss */
tag-input tag-input-form form {
  height: 27px !important;
  font-family: museo_slab500, Helvetica, sans-serif !important;
  /* For form tags style */
}
/* line 243, assets/settings-scss/settings/_classes.scss */
tag-input tag-input-form form input {
  height: 24px !important;
}
/* line 254, assets/settings-scss/settings/_classes.scss */
tag-input .bootstrap3-info.ng2-tag-input.ng2-tag-input--focused[_ngcontent-c5] {
  box-shadow: none !important;
  border: none !important;
}
/* line 259, assets/settings-scss/settings/_classes.scss */
tag-input .bootstrap3-info[_nghost-c10] path[_ngcontent-c10], tag-input .bootstrap3-info [_nghost-c10] path[_ngcontent-c10] {
  fill: #52a7d1 !important;
}
/* line 264, assets/settings-scss/settings/_classes.scss */
tag-input delete-icon[_nghost-c10] svg[_ngcontent-c10] {
  vertical-align: initial !important;
  height: 16px !important;
  fill: #52a7d1 !important;
}
/* line 269, assets/settings-scss/settings/_classes.scss */
tag-input delete-icon[_nghost-c10]:hover {
  transform: scale(1.5) translateY(1px) !important;
}
/* line 274, assets/settings-scss/settings/_classes.scss */
tag-input tag[_ngcontent-c5] {
  height: 24px !important;
  line-height: 21px !important;
}
/* line 279, assets/settings-scss/settings/_classes.scss */
tag-input .bootstrap3-info.ng2-tag-input[_ngcontent-c5] {
  border-radius: none !important;
}
/* line 283, assets/settings-scss/settings/_classes.scss */
tag-input .ng2-tag-input.ng2-tag-input--focused[_ngcontent-c5] {
  border-bottom: none !important;
}
/* line 287, assets/settings-scss/settings/_classes.scss */
tag-input .ng2-tag-input.bootstrap3-info[_ngcontent-c5] {
  height: 22px !important;
  line-height: normal !important;
  padding: 4px 6px !important;
  border-radius: none !important;
}

/* line 295, assets/settings-scss/settings/_classes.scss */
.tag_news, .tag_help {
  color: #6e9db2;
  background-color: #e9e9e8;
  padding: 2px 4px;
  margin-left: 3px;
  margin-right: 3px;
}
/* line 302, assets/settings-scss/settings/_classes.scss */
.tag_news:first-child, .tag_help:first-child {
  margin-left: 0;
}
/* line 306, assets/settings-scss/settings/_classes.scss */
.tag_news:last-child, .tag_help:last-child {
  margin-right: 0;
}

/* BUTTONS */
/* line 312, assets/settings-scss/settings/_classes.scss */
button {
  outline: none;
}
/* line 314, assets/settings-scss/settings/_classes.scss */
button:not(#btn_close_dragdrop, #btn_post_direct) {
  background-color: #51a6d1;
  width: 290px;
  margin-top: 10px;
  font-size: 27px;
}

/* line 322, assets/settings-scss/settings/_classes.scss */
.nc-btn-post, .nc-btn-primary, .nc-btn-second, .nc-btn-third, .nc-btn-remove, .nc-google-connect, div.nc-background div.nc-bg-login #create button {
  padding: 7px;
  color: #ffffff;
  border: none;
  outline: none;
}

/* line 329, assets/settings-scss/settings/_classes.scss */
.nc-btn-primary {
  background-color: #51a6d1;
}
/* line 332, assets/settings-scss/settings/_classes.scss */
.nc-btn-primary:hover {
  box-shadow: inset 0px -3px 3px 0px #116693;
}
/* line 335, assets/settings-scss/settings/_classes.scss */
.nc-btn-primary.nc-not-good:hover {
  box-shadow: none;
}
/* line 338, assets/settings-scss/settings/_classes.scss */
.nc-btn-primary:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px #116693;
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px #116693;
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px #116693;
}

/* line 347, assets/settings-scss/settings/_classes.scss */
.nc-btn-second {
  background-color: #c5c5c5;
}
/* line 350, assets/settings-scss/settings/_classes.scss */
.nc-btn-second:hover {
  box-shadow: inset 0px -3px 3px 0px #d0d0d0;
}
/* line 353, assets/settings-scss/settings/_classes.scss */
.nc-btn-second.nc-not-good:hover {
  box-shadow: none;
}
/* line 356, assets/settings-scss/settings/_classes.scss */
.nc-btn-second:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 365, assets/settings-scss/settings/_classes.scss */
.nc-btn-third {
  background-color: red;
}
/* line 368, assets/settings-scss/settings/_classes.scss */
.nc-btn-third:hover {
  box-shadow: inset 0px -3px 3px 0px #d0d0d0;
}
/* line 371, assets/settings-scss/settings/_classes.scss */
.nc-btn-third.nc-not-good:hover {
  box-shadow: none;
}
/* line 374, assets/settings-scss/settings/_classes.scss */
.nc-btn-third:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 383, assets/settings-scss/settings/_classes.scss */
.nc-btn-remove {
  background-color: #dd5050;
}
/* line 386, assets/settings-scss/settings/_classes.scss */
.nc-btn-remove:hover, .nc-btn-remove:active {
  text-decoration: none;
}

/* line 391, assets/settings-scss/settings/_classes.scss */
.nc-btn-primary {
  background-color: #51a6d1;
}

/* line 396, assets/settings-scss/settings/_classes.scss */
.nc-btn-second {
  background-color: #c5c5c5;
}

/* line 401, assets/settings-scss/settings/_classes.scss */
.nc-btn-third {
  background-color: red;
}

/* line 406, assets/settings-scss/settings/_classes.scss */
.nc-warning {
  color: #db3b3b !important;
}
/* line 410, assets/settings-scss/settings/_classes.scss */
.nc-warning i {
  margin-left: 10px;
}

/* line 415, assets/settings-scss/settings/_classes.scss */
.nc-text-post, main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #embed_description {
  box-shadow: 0px 2px 0px 0px #d0d0d0;
  border: none;
}

/* line 420, assets/settings-scss/settings/_classes.scss */
.nc-google-connect {
  background-color: #df4a32 !important;
  font-family: Arial, sans-serif;
  font-size: 23px !important;
  padding: 10px;
  /* Can be a problem || need to check */
  margin-top: 10px;
  width: 290px;
}
/* line 430, assets/settings-scss/settings/_classes.scss */
.nc-google-connect:hover {
  box-shadow: inset 0px -3px 3px 0px #d0d0d0;
}
/* line 433, assets/settings-scss/settings/_classes.scss */
.nc-google-connect.nc-not-good:hover {
  box-shadow: none;
}
/* line 436, assets/settings-scss/settings/_classes.scss */
.nc-google-connect:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 445, assets/settings-scss/settings/_classes.scss */
.nc-login-field {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #d0d0d0;
}

/* Tootip */
/* line 452, assets/settings-scss/settings/_classes.scss */
.nc-tooltip, .nc-tooltip-fav, .nc-tooltip-import, .nc-tooltip-hl, .nc-tooltip-trophies {
  position: relative;
  display: inline;
}

/* line 457, assets/settings-scss/settings/_classes.scss */
.nc-tooltip span:after, .nc-tooltip-fav span:after, .nc-tooltip-import span:after, .nc-tooltip-hl span:after, .nc-tooltip-trophies span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* line 470, assets/settings-scss/settings/_classes.scss */
.nc-tooltip:hover span, .nc-tooltip-fav:hover span, .nc-tooltip-import:hover span, .nc-tooltip-hl:hover span, .nc-tooltip-trophies:hover span {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

/* line 476, assets/settings-scss/settings/_classes.scss */
.nc-tooltip span, .nc-tooltip-fav span, .nc-tooltip-import span, .nc-tooltip-hl span, .nc-tooltip-trophies span {
  padding: 4px;
  top: 45px;
  left: 4px;
  width: 120px;
  background-color: #000000;
  color: #ffffff;
  height: auto;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  word-wrap: break-word;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 501, assets/settings-scss/settings/_classes.scss */
.nc-tooltip-fav span, .nc-tooltip-import span, .nc-tooltip-hl span {
  width: 90px;
  top: 26px;
  left: -4px;
  text-align: center;
}

/* line 508, assets/settings-scss/settings/_classes.scss */
.nc-tooltip-hl span:after {
  top: 20%;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
  left: -9%;
}

/* line 516, assets/settings-scss/settings/_classes.scss */
.nc-tooltip-hl span {
  width: 90px;
  top: 4px;
  left: 50px;
  text-align: center;
}

/* line 523, assets/settings-scss/settings/_classes.scss */
.nc-tooltip-trophies span {
  width: 140px;
  top: 35px;
  left: -60px;
  text-align: center;
}

/* line 530, assets/settings-scss/settings/_classes.scss */
.nc-tooltip-trophies span:after {
  left: 50%;
}

/* line 534, assets/settings-scss/settings/_classes.scss */
.blur {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  z-index: 100;
}

/* Page login */
/* line 1, assets/settings-scss/breakpoints/_login.scss */
div.nc-logo {
  margin: 8px 0 0 20px;
}

/* line 5, assets/settings-scss/breakpoints/_login.scss */
div.nc-background {
  background-color: #51a6d1;
}
/* line 8, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login {
  background-color: #f1f1f1;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  /**
   * For the popup when we create the user
   */
}
/* line 17, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box {
  background-color: #ffffff;
  padding: 30px;
  margin: auto;
  max-width: 427px;
  margin-top: 50px;
  position: relative;
}
/* line 25, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .nc-go-back {
  position: absolute;
  left: 30px;
  top: 50px;
  font-size: 20px;
  color: #51a6d1;
  cursor: pointer;
}
/* line 34, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box h1 {
  color: #51a6d1;
  font-size: 36px;
}
/* line 39, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box h3 {
  color: #51a6d1;
  font-size: 30px;
  margin-bottom: 0px;
}
/* line 45, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .nc-tuto-label {
  color: #2b3133;
  font-size: 24px;
}
/* line 50, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .nc-btn-primary {
  width: 290px;
  margin-top: 10px;
  font-size: 27px;
}
/* line 57, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .nc-google-connect .nc-left {
  border-right: 1px solid;
  padding-right: 10px;
}
/* line 63, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .nc-login-field {
  width: 290px;
  font-size: 18px;
}
/* line 68, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .forget-password {
  cursor: pointer;
  margin-top: 20px;
}
/* line 72, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .forget-password a {
  color: black;
  text-decoration: none;
}
/* line 78, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box input[type="file"] {
  display: none;
}
/* line 82, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .input-append {
  position: relative;
}
/* line 85, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .input-append.nc-login-field {
  padding: 8px;
}
/* line 89, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box .input-append a {
  background-color: #51a6d1;
  position: absolute;
  top: 13px;
  right: 41px;
  color: #ffffff;
  border-radius: 0;
}
/* line 99, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box #skip_step {
  text-align: center;
  margin: 20px 0 0;
}
/* line 103, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login div.nc-login-box #skip_step.i {
  color: #f1f1f1;
}
/* line 112, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login #create {
  background: #ffffff;
  width: 520px;
  height: 200px;
  position: fixed;
  z-index: 110;
  margin-left: auto;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}
/* line 127, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login #create h1 {
  color: #51a6d1;
}
/* line 131, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login #create p {
  font-size: 20px;
}
/* line 135, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login #create button {
  background-color: #51a6d1;
  padding: 10px 40px;
  font-size: 20px;
  margin-top: 10px;
}
/* line 142, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login #create button:hover {
  box-shadow: inset 0px -3px 3px 0px #116693;
}
/* line 146, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login #create button.nc-not-good:hover {
  box-shadow: none;
}
/* line 150, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login #create button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 159, assets/settings-scss/breakpoints/_login.scss */
div.nc-background div.nc-bg-login .alert.alert-danger {
  width: 290px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Main page */
/* line 1, assets/settings-scss/breakpoints/_main.scss */
header.top-site {
  height: 49px;
  position: fixed;
  top: 0;
  margin-top: 0px;
  left: 21px;
  right: 21px;
  z-index: 1;
}
/* line 10, assets/settings-scss/breakpoints/_main.scss */
header.top-site div.nc-logo-main-page {
  width: 218px;
  text-align: center;
  line-height: 49px;
  float: left;
}
/* line 17, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user {
  float: right;
  position: relative;
  top: 11px;
}
/* line 22, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress {
  position: relative;
  top: 2px;
}
/* line 26, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress .nc-progressbar {
  border: 1px solid white;
  position: absolute;
  right: 120px;
  width: 362px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
  /* for the width of the progressbar */
}
/* line 36, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress .nc-progressbar div {
  background: white;
  height: 18px;
}
/* line 41, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress .nc-progressbar span {
  position: absolute;
  top: 2px;
}
/* line 45, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress .nc-progressbar span.less-than-50 {
  color: #ffffff;
}
/* line 49, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress .nc-progressbar span.plus-than-50 {
  color: #51a6d1;
}
/* line 55, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress .nc-level-background {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 85px;
  background: #ffffff;
  transform: rotate(45deg);
}
/* line 64, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-progress .nc-level {
  position: absolute;
  right: 85px;
  color: #51a6d1;
  top: 2px;
  text-align: center;
  height: 20px;
  width: 20px;
}
/* line 75, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .nc-separate-gamification {
  border-left: 1px solid #75b9da;
  height: 25px;
  float: left;
  position: absolute;
  right: 75px;
}
/* line 83, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .profile {
  position: relative;
  right: 6px;
}
/* line 87, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .profile a {
  color: #ffffff;
  text-decoration: none;
}
/* line 91, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .profile a i {
  margin: 0 2px;
  cursor: pointer;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-baseline-middle;
  vertical-align: -o-baseline-middle;
  vertical-align: -ms-baseline-middle;
}
/* line 102, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .arrow_box {
  position: absolute;
  right: 30px;
}
/* line 106, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .arrow_box.notification {
  right: 75px;
}
/* line 110, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .arrow_box:after, header.top-site .nc-profile-user .arrow_boxbefore {
  left: 60%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 120, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
}
/* line 125, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}
/* line 132, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile, header.top-site .nc-profile-user .popup_notifications {
  background: #ffffff;
  position: absolute;
  z-index: 71;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 10px;
  min-width: 150px;
  right: 0px;
  top: 38px;
  box-shadow: -2px 2px 4px #d0d0d0;
}
/* line 146, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile #content_profile span.optiongrp.nc-left, header.top-site .nc-profile-user .popup_profile #notif_popup span.optiongrp.nc-left, header.top-site .nc-profile-user .popup_notifications #content_profile span.optiongrp.nc-left, header.top-site .nc-profile-user .popup_notifications #notif_popup span.optiongrp.nc-left {
  margin-right: 5px;
}
/* line 150, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile #content_profile div.nc-left, header.top-site .nc-profile-user .popup_profile #notif_popup div.nc-left, header.top-site .nc-profile-user .popup_notifications #content_profile div.nc-left, header.top-site .nc-profile-user .popup_notifications #notif_popup div.nc-left {
  margin-right: 5px;
}
/* line 154, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile #content_profile span.created-date, header.top-site .nc-profile-user .popup_profile #notif_popup span.created-date, header.top-site .nc-profile-user .popup_notifications #content_profile span.created-date, header.top-site .nc-profile-user .popup_notifications #notif_popup span.created-date {
  color: #d0d0d0;
  font-size: 11.6px;
}
/* line 159, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile #content_profile hr, header.top-site .nc-profile-user .popup_profile #notif_popup hr, header.top-site .nc-profile-user .popup_notifications #content_profile hr, header.top-site .nc-profile-user .popup_notifications #notif_popup hr {
  top: 7px !important;
  position: relative !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
/* line 167, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile ul, header.top-site .nc-profile-user .popup_notifications ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0px;
  color: black;
}
/* line 173, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile ul a, header.top-site .nc-profile-user .popup_notifications ul a {
  text-decoration: none;
  color: black;
}
/* line 178, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile ul li.profile-list, header.top-site .nc-profile-user .popup_notifications ul li.profile-list {
  padding: 2px 10px;
  border-radius: 3px;
}
/* line 182, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile ul li.profile-list:hover, header.top-site .nc-profile-user .popup_notifications ul li.profile-list:hover {
  color: #ffffff;
}
/* line 186, assets/settings-scss/breakpoints/_main.scss */
header.top-site .nc-profile-user .popup_profile ul li.profile-list:hover, header.top-site .nc-profile-user .popup_notifications ul li.profile-list:hover {
  background: #51a6d1;
}

/* line 195, assets/settings-scss/breakpoints/_main.scss */
#panel {
  float: left;
  width: 218px;
  background-color: #f1f1f1;
  padding: 5px;
  box-shadow: 2px 0px 0px #d0d0d0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  left: 21px;
  top: 49px;
}
/* line 207, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_activities {
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 2px 0px #d0d0d0;
  word-wrap: break-word;
  width: 185px;
  /* min-height: 250px; */
  height: 340px;
  overflow-y: scroll;
}
/* line 218, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_activities h3 {
  text-align: center;
  color: #404749;
  font-size: 22px;
  margin-top: 0;
}
/* line 224, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_activities h3 span {
  margin-right: 5px;
}
/* line 230, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_activities span a {
  color: #6d6d6d;
}
/* line 236, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_tags, #panel #panel_teammates {
  margin: 0 10px;
  padding: 5px 10px;
  min-height: 150px;
}
/* line 241, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_tags h3, #panel #panel_teammates h3 {
  color: #51a6d1;
  margin-top: 0;
}
/* line 246, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_tags ul, #panel #panel_teammates ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
/* line 252, assets/settings-scss/breakpoints/_main.scss */
#panel #panel_tags more, #panel #panel_teammates more {
  color: #52a7d1;
  text-decoration: underline;
  font-weight: bold;
}

/* line 260, assets/settings-scss/breakpoints/_main.scss */
main#main_part {
  background-color: #f1f1f1;
  overflow-x: hidden;
  position: fixed;
  height: 100vh;
  left: 240px;
  right: 21px;
  z-index: 0;
  top: 49px;
  /** search part **/
}
/* line 270, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop {
  /* When the mode comments only is on, put the padding to the good heigh for the writes */
  /** new news **/
}
/* line 272, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop .embed-url-container {
  background-color: transparent;
  position: relative;
  z-index: 1;
  color: #6d6d6d;
}
/* line 279, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop input#embed_url {
  border: 0;
  height: 50px;
  text-align: center;
  width: 100%;
  z-index: 70;
  padding: 0 10px;
  font-family: museo_slab500, Helvetica, sans-serif;
  background: transparent;
}
/* line 290, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #embed_url_placeholder, main#main_part #drag_n_drop #embed_url_comments_only {
  position: absolute;
  top: 0;
  text-align: center;
  z-index: -1;
  font-family: museo_slab500, Helvetica, sans-serif;
  color: #989898;
  width: 100%;
  background: white;
  padding: 13px;
  height: 50px;
}
/* line 302, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #embed_url_placeholder img, main#main_part #drag_n_drop #embed_url_comments_only img {
  position: relative;
  top: 0px;
  height: 25px;
  margin-right: 5px;
}
/* line 309, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #embed_url_placeholder span, main#main_part #drag_n_drop #embed_url_comments_only span {
  color: #51a6d1;
}
/* line 315, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #embed_url_comments_only {
  padding: 17px !important;
  background: #DFDFDF;
}
/* line 320, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #btn_close_dragdrop {
  border: none;
  background-color: #ffffff;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 71;
  font-size: 17px;
  line-height: 30px;
}
/* line 331, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #loading_create_news {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
/* line 339, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create {
  padding: 15px;
  border-bottom: 6px solid #d0d0d0;
}
/* line 343, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-images {
  float: left;
  width: 20%;
}
/* line 348, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text {
  float: right;
  width: 80%;
}
/* line 352, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text h3 {
  margin-top: 0px;
  color: #2b3133;
}
/* line 357, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #embed_description {
  margin: 10px 0;
  width: 100%;
  padding: 4px 6px;
  outline: none;
}
/* line 365, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #sub_form_hl, main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #embed_content {
  margin-top: 25px;
  width: 500px;
}
/* line 368, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #sub_form_hl img, main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #embed_content img {
  max-width: 500px;
}
/* line 371, assets/settings-scss/breakpoints/_main.scss */
main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #sub_form_hl button, main#main_part #drag_n_drop #form_news_create #sub_form_news_create .new-news-text #embed_content button {
  margin: 0px 3px 0px 3px;
}
/* line 381, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard {
  padding: 40px 0px 25px 0px;
  color: #d0d0d0;
  overflow-x: hidden;
  margin: 0 20px;
  /** search part... **/
}
/* line 388, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard {
  padding: 0 0 20px 0;
  position: relative;
}
/* line 392, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter {
  position: relative;
  /*For the sort of the news*/
  /* Filter for week and team */
}
/* line 396, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter .filters {
  width: 25%;
  float: left;
}
/* line 400, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter .filters buttton, main#main_part #dashboard .header-dashboard #top_panel_filter .filters #export_news {
  background-color: #ffffff;
  border: medium none;
  color: #7e8284;
  padding: 8px 14px 6px 14px;
  margin: 0px -2px;
}
/* line 407, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter .filters.active {
  color: white;
  background-color: #52a7d1;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: white;
}
/* line 417, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter .filters:hover {
  color: white;
  background-color: #52a7d1;
  box-shadow: inset 0px -3px 3px 0px #116693;
}
/* line 422, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter .filters:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 432, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter div.btn-group {
  border: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
/* line 439, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter a.dropdown-toggle {
  color: #7e8284;
  background-color: white;
  min-width: 120px;
  text-align: left;
  border: none;
}
/* line 448, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #filter_date_range *, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_teams * {
  border-radius: 0px;
}
/* line 452, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #filter_date_range a.btn, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_teams a.btn {
  padding: 7px 12px !important;
}
/* line 456, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #filter_date_range a.dropdown-toggle, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_teams a.dropdown-toggle {
  color: #7e8284;
  background-color: #ffffff;
  min-width: 120px;
  text-align: left;
  border: none;
}
/* line 463, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #filter_date_range a.dropdown-toggle:active, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_teams a.dropdown-toggle:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 471, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #filter_date_range a.dropdown-toggle:hover, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_date_range a.dropdown-toggle:focus, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_teams a.dropdown-toggle:hover, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_teams a.dropdown-toggle:focus {
  border-color: inherit;
  box-shadow: inset 0px -3px 3px 0px #d0d0d0;
}
/* line 476, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #filter_date_range a.dropdown-toggle .caret, main#main_part #dashboard .header-dashboard #top_panel_filter #filter_teams a.dropdown-toggle .caret {
  vertical-align: middle;
  margin: 4px 0px 4px 10px;
}
/* line 483, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #btn_goto_search {
  float: right;
  width: 220px;
  padding: 7px 20px 7px 20px;
  text-align: left;
  background-color: white;
  border-top: 1px solid;
  border-bottom: none;
  border-right: none;
  height: 39px;
}
/* line 493, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter #btn_goto_search i {
  float: right;
  font-size: 16px;
}
/* line 499, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter .filter-export, main#main_part #dashboard .header-dashboard #top_panel_filter .edit_team {
  width: auto;
  float: right;
  position: absolute;
  right: 20%;
  top: 10%;
}
/* line 507, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_filter .edit_team {
  right: 24%;
}
/* line 512, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search {
  right: -760px;
  text-align: center;
  position: absolute;
  top: -2px;
  min-width: 940px;
}
/* line 519, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search * {
  border-radius: 0 !important;
}
/* line 523, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group {
  background-color: white;
  border: none;
  border-top: 1px solid lightgray;
  /* Search text */
  /* Action dropdown */
}
/* line 529, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group #search_text {
  border: none;
  margin-top: 7px;
  color: #7e8284;
  outline: none;
}
/* line 535, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group .fa-search {
  color: #cccccc;
  margin-left: 10px;
  margin-right: 7px;
  position: relative;
}
/* line 544, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group div.btn-group a.dropdown-toggle {
  color: #6d6d6d;
  background-color: white;
  width: 120px;
  text-align: left;
  margin-top: 6px;
  margin-bottom: 3px;
  box-shadow: none;
}
/* line 552, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group div.btn-group a.dropdown-toggle:hover, main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group div.btn-group a.dropdown-toggle:focus {
  box-shadow: none;
  border-color: inherit;
}
/* line 556, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group div.btn-group a.dropdown-toggle .nc-remove {
  margin-left: 6px;
  font-size: 14px;
}
/* line 560, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group div.btn-group a.dropdown-toggle .caret {
  vertical-align: middle;
  margin: 4px 0px 4px 10px;
}
/* line 566, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group div.btn-group.open .dropdown-menu {
  margin-top: 32px;
}
/* line 571, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group #btn_back {
  margin: 1px 5px 0px 5px;
  background-color: white;
  border: none;
  color: #2b3133;
  font-size: 22px;
  width: 28px;
}
/* line 579, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group #btn_search {
  text-align: center;
  width: 120px;
  padding: 6px 20px 6px 20px;
  color: white;
  font-weight: bold;
  background-color: #51a6d1;
  border: none;
  height: 38px;
}
/* line 589, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group #btn_search.on {
  background-color: #51a6d1;
}
/* line 593, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group #btn_search:hover {
  box-shadow: inset 0px -3px 3px 0px #116693;
}
/* line 597, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group #btn_search.nc-not-good:hover {
  box-shadow: none;
}
/* line 601, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard .header-dashboard #top_panel_search div.btn-group #btn_search:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 614, assets/settings-scss/breakpoints/_main.scss */
main#main_part #dashboard #news {
  margin-bottom: 40px;
}

/* News part */
/* line 1, assets/settings-scss/breakpoints/_news.scss */
#news {
  /** news part **/
}
/* line 4, assets/settings-scss/breakpoints/_news.scss */
#news .news-part-blur {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  position: relative;
  z-index: 100;
}
/* line 15, assets/settings-scss/breakpoints/_news.scss */
#news .news-part {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  position: relative;
  /** comment viewer part **/
}
/* line 22, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .left-part {
  float: left;
}
/* line 26, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .header-news {
  margin-bottom: 10px;
}
/* line 31, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part {
  position: relative;
  float: right;
  width: 170px;
}
/* line 36, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part .rate-star {
  margin: 0px 2px;
}
/* line 40, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part div.comment_view {
  margin: 10px 0;
}
/* line 43, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part div.comment_view span.left {
  margin-right: 5px;
}
/* line 47, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part div.comment_view .user-details {
  position: relative;
  display: inline;
}
/* line 52, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part div.comment_view .nc-avatar-level {
  visibility: hidden;
  position: absolute;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  right: 2px;
  top: -1px;
  z-index: 10;
}
/* line 62, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part div.comment_view .nc-avatar-level .overlay {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #f7f7f7;
  opacity: 0.5;
  border-radius: 50%;
  margin-left: 3.3px;
  margin-top: 3.4px;
  text-align: center;
  line-height: 11px;
  font-size: 11px;
  color: #52a7d0;
  border: 3px solid #ededed;
}
/* line 80, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part div.comment_view img.nc-avatar:hover + .nc-avatar-level {
  visibility: visible;
}
/* line 84, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .right-part div.comment_view .nc-avatar-level:hover {
  visibility: visible;
}
/* line 90, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .vertical-line {
  float: right;
  border-left: 1px solid;
  height: 100px;
  margin: 0 10px;
}
/* line 97, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .content-part {
  margin-left: 70px;
  margin-right: 190px;
}
/* line 101, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .content-part p {
  text-align: justify;
  color: #989898;
}
/* line 105, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .content-part .profile-news {
  float: right;
  text-align: right;
}
/* line 108, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .content-part .profile-news small {
  display: block;
  font-size: 75%;
}
/* line 115, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .nc-recently-notif {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid orange;
  border-right: 50px solid transparent;
}
/* line 125, assets/settings-scss/breakpoints/_news.scss */
#news .news-part .nc-recently-notif i {
  color: white;
  position: absolute;
  top: 27px;
  left: 9px;
}

/* Reader part */
/* line 1, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader {
  position: fixed;
  z-index: 110;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1000px;
  position: fixed;
  background-color: #ffffff;
}
/* line 11, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #hide_reader {
  position: fixed;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: white;
  padding: 10px;
  margin-left: -40px;
}
/* line 21, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content, #parent_reader #tuto-content, #parent_reader #hl-form {
  /*  position: fixed;
    z-index: 110;
    top: 0;
    bottom: 0;
    right: 0;*/
  overflow-x: hidden;
  /*overflow-y: auto;*/
  background-color: #ffffff;
}
/* line 31, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content h1, #parent_reader #reader-content h2, #parent_reader #reader-content h3, #parent_reader #reader-content h4, #parent_reader #reader-content h5, #parent_reader #reader-content h6, #parent_reader #tuto-content h1, #parent_reader #tuto-content h2, #parent_reader #tuto-content h3, #parent_reader #tuto-content h4, #parent_reader #tuto-content h5, #parent_reader #tuto-content h6, #parent_reader #hl-form h1, #parent_reader #hl-form h2, #parent_reader #hl-form h3, #parent_reader #hl-form h4, #parent_reader #hl-form h5, #parent_reader #hl-form h6 {
  font-family: museo_slab500, Helvetica, sans-serif;
  font-size: 22px;
}
/* line 36, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content .nc-hl-buttons, #parent_reader #tuto-content .nc-hl-buttons, #parent_reader #hl-form .nc-hl-buttons {
  position: fixed;
  bottom: 40px;
  right: 120px;
  z-index: 1;
}
/* line 42, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content .nc-hl-buttons li, #parent_reader #tuto-content .nc-hl-buttons li, #parent_reader #hl-form .nc-hl-buttons li {
  list-style-type: none;
  margin-top: 5px;
}
/* line 46, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content .nc-hl-buttons button, #parent_reader #tuto-content .nc-hl-buttons button, #parent_reader #hl-form .nc-hl-buttons button {
  width: 34px;
}
/* line 51, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader, #parent_reader #reader-content #reader_tuto, #parent_reader #reader-content #hl, #parent_reader #tuto-content #reader, #parent_reader #tuto-content #reader_tuto, #parent_reader #tuto-content #hl, #parent_reader #hl-form #reader, #parent_reader #hl-form #reader_tuto, #parent_reader #hl-form #hl {
  background-color: #ffffff;
  width: 1000px;
  padding-bottom: 30px;
  position: relative;
}
/* line 57, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.header-reader, #parent_reader #reader-content #reader_tuto div.header-reader, #parent_reader #reader-content #hl div.header-reader, #parent_reader #tuto-content #reader div.header-reader, #parent_reader #tuto-content #reader_tuto div.header-reader, #parent_reader #tuto-content #hl div.header-reader, #parent_reader #hl-form #reader div.header-reader, #parent_reader #hl-form #reader_tuto div.header-reader, #parent_reader #hl-form #hl div.header-reader {
  background-color: #f1f1f1;
  padding: 5px;
}
/* line 61, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.header-reader div.reader-news-title, #parent_reader #reader-content #reader_tuto div.header-reader div.reader-news-title, #parent_reader #reader-content #hl div.header-reader div.reader-news-title, #parent_reader #tuto-content #reader div.header-reader div.reader-news-title, #parent_reader #tuto-content #reader_tuto div.header-reader div.reader-news-title, #parent_reader #tuto-content #hl div.header-reader div.reader-news-title, #parent_reader #hl-form #reader div.header-reader div.reader-news-title, #parent_reader #hl-form #reader_tuto div.header-reader div.reader-news-title, #parent_reader #hl-form #hl div.header-reader div.reader-news-title {
  margin-top: 15px;
}
/* line 66, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader, #parent_reader #reader-content #reader_tuto div.content-reader, #parent_reader #reader-content #hl div.content-reader, #parent_reader #tuto-content #reader div.content-reader, #parent_reader #tuto-content #reader_tuto div.content-reader, #parent_reader #tuto-content #hl div.content-reader, #parent_reader #hl-form #reader div.content-reader, #parent_reader #hl-form #reader_tuto div.content-reader, #parent_reader #hl-form #hl div.content-reader {
  width: 635px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}
/* line 73, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader button i, #parent_reader #reader-content #reader_tuto div.content-reader button i, #parent_reader #reader-content #hl div.content-reader button i, #parent_reader #tuto-content #reader div.content-reader button i, #parent_reader #tuto-content #reader_tuto div.content-reader button i, #parent_reader #tuto-content #hl div.content-reader button i, #parent_reader #hl-form #reader div.content-reader button i, #parent_reader #hl-form #reader_tuto div.content-reader button i, #parent_reader #hl-form #hl div.content-reader button i {
  margin: 0px 3px 0px 3px;
}
/* line 80, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader i.next-news, #parent_reader #reader-content #reader_tuto div.content-reader i.next-news, #parent_reader #reader-content #hl div.content-reader i.next-news, #parent_reader #tuto-content #reader div.content-reader i.next-news, #parent_reader #tuto-content #reader_tuto div.content-reader i.next-news, #parent_reader #tuto-content #hl div.content-reader i.next-news, #parent_reader #hl-form #reader div.content-reader i.next-news, #parent_reader #hl-form #reader_tuto div.content-reader i.next-news, #parent_reader #hl-form #hl div.content-reader i.next-news {
  position: absolute;
  top: 100px;
  bottom: none;
  right: -110px;
  left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
}
/* line 86, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader i.next-news:hover, #parent_reader #reader-content #reader_tuto div.content-reader i.next-news:hover, #parent_reader #reader-content #hl div.content-reader i.next-news:hover, #parent_reader #tuto-content #reader div.content-reader i.next-news:hover, #parent_reader #tuto-content #reader_tuto div.content-reader i.next-news:hover, #parent_reader #tuto-content #hl div.content-reader i.next-news:hover, #parent_reader #hl-form #reader div.content-reader i.next-news:hover, #parent_reader #hl-form #reader_tuto div.content-reader i.next-news:hover, #parent_reader #hl-form #hl div.content-reader i.next-news:hover {
  color: #6d6d6d;
}
/* line 91, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader i.previous-news, #parent_reader #reader-content #reader_tuto div.content-reader i.previous-news, #parent_reader #reader-content #hl div.content-reader i.previous-news, #parent_reader #tuto-content #reader div.content-reader i.previous-news, #parent_reader #tuto-content #reader_tuto div.content-reader i.previous-news, #parent_reader #tuto-content #hl div.content-reader i.previous-news, #parent_reader #hl-form #reader div.content-reader i.previous-news, #parent_reader #hl-form #reader_tuto div.content-reader i.previous-news, #parent_reader #hl-form #hl div.content-reader i.previous-news {
  position: absolute;
  top: 100px;
  bottom: none;
  right: none;
  left: -110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
}
/* line 97, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader i.previous-news:hover, #parent_reader #reader-content #reader_tuto div.content-reader i.previous-news:hover, #parent_reader #reader-content #hl div.content-reader i.previous-news:hover, #parent_reader #tuto-content #reader div.content-reader i.previous-news:hover, #parent_reader #tuto-content #reader_tuto div.content-reader i.previous-news:hover, #parent_reader #tuto-content #hl div.content-reader i.previous-news:hover, #parent_reader #hl-form #reader div.content-reader i.previous-news:hover, #parent_reader #hl-form #reader_tuto div.content-reader i.previous-news:hover, #parent_reader #hl-form #hl div.content-reader i.previous-news:hover {
  color: #6d6d6d;
}
/* line 102, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader .text-news, #parent_reader #reader-content #reader_tuto div.content-reader .text-news, #parent_reader #reader-content #hl div.content-reader .text-news, #parent_reader #tuto-content #reader div.content-reader .text-news, #parent_reader #tuto-content #reader_tuto div.content-reader .text-news, #parent_reader #tuto-content #hl div.content-reader .text-news, #parent_reader #hl-form #reader div.content-reader .text-news, #parent_reader #hl-form #reader_tuto div.content-reader .text-news, #parent_reader #hl-form #hl div.content-reader .text-news {
  text-align: justify;
  margin-bottom: 50px;
  outline: none;
}
/* line 107, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader .text-news iframe, #parent_reader #reader-content #reader_tuto div.content-reader .text-news iframe, #parent_reader #reader-content #hl div.content-reader .text-news iframe, #parent_reader #tuto-content #reader div.content-reader .text-news iframe, #parent_reader #tuto-content #reader_tuto div.content-reader .text-news iframe, #parent_reader #tuto-content #hl div.content-reader .text-news iframe, #parent_reader #hl-form #reader div.content-reader .text-news iframe, #parent_reader #hl-form #reader_tuto div.content-reader .text-news iframe, #parent_reader #hl-form #hl div.content-reader .text-news iframe {
  display: block;
  margin: 0 auto;
  width: 635px;
  height: 335px;
}
/* line 114, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader .text-news img, #parent_reader #reader-content #reader_tuto div.content-reader .text-news img, #parent_reader #reader-content #hl div.content-reader .text-news img, #parent_reader #tuto-content #reader div.content-reader .text-news img, #parent_reader #tuto-content #reader_tuto div.content-reader .text-news img, #parent_reader #tuto-content #hl div.content-reader .text-news img, #parent_reader #hl-form #reader div.content-reader .text-news img, #parent_reader #hl-form #reader_tuto div.content-reader .text-news img, #parent_reader #hl-form #hl div.content-reader .text-news img {
  display: block;
  margin: 10px auto;
}
/* line 118, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader .text-news:focus, #parent_reader #reader-content #reader div.content-reader .text-news p, #parent_reader #reader-content #reader div.content-reader .text-news p:focus, #parent_reader #reader-content #reader_tuto div.content-reader .text-news:focus, #parent_reader #reader-content #reader_tuto div.content-reader .text-news p, #parent_reader #reader-content #reader_tuto div.content-reader .text-news p:focus, #parent_reader #reader-content #hl div.content-reader .text-news:focus, #parent_reader #reader-content #hl div.content-reader .text-news p, #parent_reader #reader-content #hl div.content-reader .text-news p:focus, #parent_reader #tuto-content #reader div.content-reader .text-news:focus, #parent_reader #tuto-content #reader div.content-reader .text-news p, #parent_reader #tuto-content #reader div.content-reader .text-news p:focus, #parent_reader #tuto-content #reader_tuto div.content-reader .text-news:focus, #parent_reader #tuto-content #reader_tuto div.content-reader .text-news p, #parent_reader #tuto-content #reader_tuto div.content-reader .text-news p:focus, #parent_reader #tuto-content #hl div.content-reader .text-news:focus, #parent_reader #tuto-content #hl div.content-reader .text-news p, #parent_reader #tuto-content #hl div.content-reader .text-news p:focus, #parent_reader #hl-form #reader div.content-reader .text-news:focus, #parent_reader #hl-form #reader div.content-reader .text-news p, #parent_reader #hl-form #reader div.content-reader .text-news p:focus, #parent_reader #hl-form #reader_tuto div.content-reader .text-news:focus, #parent_reader #hl-form #reader_tuto div.content-reader .text-news p, #parent_reader #hl-form #reader_tuto div.content-reader .text-news p:focus, #parent_reader #hl-form #hl div.content-reader .text-news:focus, #parent_reader #hl-form #hl div.content-reader .text-news p, #parent_reader #hl-form #hl div.content-reader .text-news p:focus {
  outline: none;
}
/* line 123, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader div.content-reader .viewer-reader, #parent_reader #reader-content #reader div.content-reader .commenter-reader, #parent_reader #reader-content #reader_tuto div.content-reader .viewer-reader, #parent_reader #reader-content #reader_tuto div.content-reader .commenter-reader, #parent_reader #reader-content #hl div.content-reader .viewer-reader, #parent_reader #reader-content #hl div.content-reader .commenter-reader, #parent_reader #tuto-content #reader div.content-reader .viewer-reader, #parent_reader #tuto-content #reader div.content-reader .commenter-reader, #parent_reader #tuto-content #reader_tuto div.content-reader .viewer-reader, #parent_reader #tuto-content #reader_tuto div.content-reader .commenter-reader, #parent_reader #tuto-content #hl div.content-reader .viewer-reader, #parent_reader #tuto-content #hl div.content-reader .commenter-reader, #parent_reader #hl-form #reader div.content-reader .viewer-reader, #parent_reader #hl-form #reader div.content-reader .commenter-reader, #parent_reader #hl-form #reader_tuto div.content-reader .viewer-reader, #parent_reader #hl-form #reader_tuto div.content-reader .commenter-reader, #parent_reader #hl-form #hl div.content-reader .viewer-reader, #parent_reader #hl-form #hl div.content-reader .commenter-reader {
  text-align: left;
  width: 50%;
  margin-bottom: 20px;
}
/* line 129, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader .nc-hl-buttons, #parent_reader #reader-content #reader_tuto .nc-hl-buttons, #parent_reader #reader-content #hl .nc-hl-buttons, #parent_reader #tuto-content #reader .nc-hl-buttons, #parent_reader #tuto-content #reader_tuto .nc-hl-buttons, #parent_reader #tuto-content #hl .nc-hl-buttons, #parent_reader #hl-form #reader .nc-hl-buttons, #parent_reader #hl-form #reader_tuto .nc-hl-buttons, #parent_reader #hl-form #hl .nc-hl-buttons {
  position: fixed;
  bottom: 40px;
  right: 120px;
}
/* line 134, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader .nc-hl-buttons li, #parent_reader #reader-content #reader_tuto .nc-hl-buttons li, #parent_reader #reader-content #hl .nc-hl-buttons li, #parent_reader #tuto-content #reader .nc-hl-buttons li, #parent_reader #tuto-content #reader_tuto .nc-hl-buttons li, #parent_reader #tuto-content #hl .nc-hl-buttons li, #parent_reader #hl-form #reader .nc-hl-buttons li, #parent_reader #hl-form #reader_tuto .nc-hl-buttons li, #parent_reader #hl-form #hl .nc-hl-buttons li {
  list-style-type: none;
  margin-top: 5px;
}
/* line 138, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader .nc-hl-buttons button, #parent_reader #reader-content #reader_tuto .nc-hl-buttons button, #parent_reader #reader-content #hl .nc-hl-buttons button, #parent_reader #tuto-content #reader .nc-hl-buttons button, #parent_reader #tuto-content #reader_tuto .nc-hl-buttons button, #parent_reader #tuto-content #hl .nc-hl-buttons button, #parent_reader #hl-form #reader .nc-hl-buttons button, #parent_reader #hl-form #reader_tuto .nc-hl-buttons button, #parent_reader #hl-form #hl .nc-hl-buttons button {
  width: 34px;
}
/* line 144, assets/settings-scss/breakpoints/_reader.scss */
#parent_reader #reader-content #reader img, #parent_reader #reader-content #hl img, #parent_reader #tuto-content #reader img, #parent_reader #tuto-content #hl img, #parent_reader #hl-form #reader img, #parent_reader #hl-form #hl img {
  max-width: 500px;
}
